[2020-03-24 12:44] imanshul opened #2 "Enhancement on data listing"
Add codes to states like : "state_code" : "DL" so that we can filter the data out.
Also the structure should be :
{"state" : "Delhi",
"state_code" : "DL",
"data" : [{
 "name" : "East Delhi",
 "confirmed_Cases" : 30
.
.
.
 },
 {
 }
..
 ]
}

[2020-03-25 01:11] sudevschiz opened #4 "Expose Factoid sheet as an API"
The Google Sheet has a "Factoid" sheet. Please commit that along with the automatic action. (Maybe a separate website_data.json)?

[2020-03-25 05:30] JunaidBabu commented on #4
Factoids are up: https://api.covid19india.org/website_data.json

closed 570c729ee71e9a8d2542ba60f985fd39fca57da2

[2020-03-25 05:30] #4 closed

[2020-03-25 09:55] NirantK opened #6 "Relationship Extraction API Info Addition"
# What works for relationship extraction API

**Code is here**: https://github.com/NirantK/coronaIndia/blob/master/relationship_server.py

## Relationship
What works

[code]

What doesn't work : Relationship without word `of`
[code]

## Travel Places
What works
[code]

## Nationality
What works
[code]
What doesn't work
[code]

## API Details
API URL : http://coronatravelhistory.pythonanywhere.com/

[2020-03-25 13:12] sudevschiz commented on #2
Can you add more details like which API you're talking about?

If possible show how the API response looks like before and after the change.

Please use code formatting. Thank you!

[2020-03-25 13:49] aravindnc opened #9 "Found Typo"
There are Kasaragod and Kasargod in Kerala data in state_district_wise.json
You can ignore Kasargod.

[2020-03-26 04:52] nirajwagh opened #10 "deceaseddelta displaying negative value"
Hello,
The API response for https://api.covid19india.org/data.json is displaying a negative value for "key_values ->deceaseddelta".
Is this correct? Key_values object displays today's cases, right?
Thanks for the API and data.

![negative](https://user-images.githubusercontent.com/35917455/77611558-a33aee00-6f4b-11ea-9c75-898230211519.png)

[2020-03-26 05:20] sheshang commented on #9
Hi, i would like to work on that.

[2020-03-26 05:30] JunaidBabu commented on #10
Thanks for the report. There was a mistake in the entry yesterday. This has been corrected and pushed.

[2020-03-26 05:30] #10 closed

[2020-03-26 06:51] sethi-ishmeet opened #12 "iOS Application based on this API"
Hi Team,

I would like to create an iOS App using this API. I am seeking your permission to use this API for the app. I am willing to create it as part of covid19india project.

[2020-03-26 07:32] aravindnc opened #13 "Is the API open ?"
Can we use the data from api by giving proper credits to covid19india.org.

[2020-03-26 13:28] aravindnc opened #14 "Date mismatch in all testing report data"
The testing status day is mentioned as April instead of March.

https://api.rootnet.in/covid19-in/stats/testing/latest
https://api.rootnet.in/covid19-in/stats/testing/history

[2020-03-26 13:52] JunaidBabu commented on #14
Not our API

[2020-03-26 13:52] #14 closed

[2020-03-26 13:53] JunaidBabu commented on #13
Sure, go ahead!

[2020-03-26 13:53] #13 closed

[2020-03-26 13:54] JunaidBabu commented on #12
No problem.

[2020-03-26 13:54] #12 closed

[2020-03-26 13:54] JunaidBabu commented on #9
Thanks for the report. Fixed in the sheet.

[2020-03-26 13:54] #9 closed

[2020-03-26 13:57] JunaidBabu commented on #2
Already using standard names for states.

[2020-03-26 13:57] #2 closed

[2020-03-26 14:27] aravindnc opened #15 "Deaths reported as 0"
https://api.covid19india.org/state_district_wise.json

District wise death is showing as 0 for all states and districts.

[2020-03-26 14:48] windlessStorm opened #16 "Delta calculation not correct as it assumes all delta's are positive"
let currentStatus = row.currentstatus;
      if (currentStatus) {
        stat.confirmed += 1;
        switch (currentStatus) {
          case "Hospitalized":
            stat.active += 1;
            break;
          case "Recovered":
            stat.recovered += 1;
            break;
          case "Deceased":
            stat.deaths += 1;
            break;
        }

Eg: Total active cases in

[2020-03-26 16:51] zaxwebs commented on #15
Hi, had a look. The **deaths are being reported correctly**.
Examples: South West Delhi, Madurai, Kalaburagi, etc.

Currently, only 13 of 137 districts have deaths.

[2020-03-26 17:02] sudevschiz commented on #15
This is more more about the data itself. Would be good to report in the group.

[2020-03-26 17:02] #15 closed

[2020-03-26 17:06] sudevschiz commented on #16
This logic to compute the Recovered is not correct fundamentally as we are not sure which patient recovered. We simply cannot use this sheet to compute this.

Another logic using the snapshot of yesterday's Statewise numbers has to be used.

[2020-03-26 17:58] ketulrastogi opened #18 "Data Removed from JSON"
Data for Active, Recovered, and Deaths are removed from JSON file after last update.

[2020-03-26 20:09] aravindnc commented on #15
No. When I checked before all district in Kerala were reported 0 deaths. But I haven't checked now.

[2020-03-26 23:21] sudevschiz commented on #18
Hi, This is by design. Since we don't know which patient recovered exactly when the state bulletins give out the information, the current logic won't work to calculate the recovered and deceased patients.

We are working on a way to get this information. Will update here once that is live.

[2020-03-27 02:21] #18 closed

[2020-03-27 05:16] imanshul commented on #2
What I was talking about is follow a standard so that it is easy to filter out things using a particular identifier instead of throwing name as object name.

My suggestion is use a standard something like below :

{
	"stateData": [{
			"districtName": "Kerala",
			"stateCode": "KL",
			"districtData": [{
				"districtName": "Wayanad",
				"districtCode": "03",
				"confirmed": 1,
				"lastupdatedt

[2020-03-27 06:01] sudevschiz commented on #6
@JunaidBabu Have to call the curl command everytime three is a difference in raw_data.json?

[2020-03-27 07:38] faisalchishtii opened #19 "Stale data on raw data API"
When I aggregate the results from raw data API - https://api.covid19india.org/raw_data.json - I get below:

**Recovered:** 25
**Migrated:** 1
**Deceased:** 15
**Hospitalized:** 712
**Total:** 753 (Adding above four)

Seems like positive cases are being marked **Hospitalized** correctly but not when **Recovered** or **Deceased**.

![image](https://user-images.githubusercontent.com/26409919/77732946

[2020-03-27 11:00] Soumojit28 opened #20 "need help to use this api in a IOT display"
I am trying to create a LED matrix and a 2line Display that will display the live data using ESP8266 microcontroller, Is there any way to just only get the total data like - total confirmed case, total recovered, etc via the API, cause it will be hard to decode that much data using small microcontrollers.

[2020-03-27 13:26] JunaidBabu commented on #19
This is because we are unable to trace which patient status was changed. This is a known issue.

[2020-03-27 15:36] harjeetxeno opened #22 "Data refresh strategy"
I see a lot of data update commits.
What's the process ?? After the moderators confirm the reported case is correct, someone executes "pushthejson" script and then all the JSON are updated   ??
If my understanding is correct here, may I help to improve this process if you guys feel that is needed?

[2020-03-27 15:47] d3v7 commented on #20
if u want, I can create one only for the total confirmed case, total recovered and total deaths.

[2020-03-27 17:08] Soumojit28 commented on #20
That will be very helpful, Also add total active cases, and also please make it accessible via Http, cause its difficult to use https in ESP8266.

[2020-03-27 18:49] sumitmckv commented on #22
@harjeetxeno, Please have a look at https://github.com/covid19india/api/blob/1eb576adaa4c115cf8694119a531a1db653f8daf/.github/workflows/javascript.yml

[2020-03-27 19:04] d3v7 commented on #20
try this and let me know
http://coronago.xyz/data.json

[2020-03-28 04:24] JunaidBabu commented on #22
Using github actions to run the script periodically
https://github.com/covid19india/api/actions

[2020-03-28 04:24] #22 closed

[2020-03-28 08:25] aamin3189 commented on #20
This is awesome, just wanted to know if I can use your API in my project [COVID-19 Tracker PWA](https://github.com/aamin3189/covid)

[2020-03-28 09:11] d3v7 commented on #20
open-source feel free to use

[2020-03-28 11:22] utkarsh1996 commented on #20
Hi,
want to ask that I want to use these api's to fetch the data.
Just want to confirm whether these api's will be available in coming days or shall I use the csv??

[2020-03-28 12:26] Soumojit28 commented on #20
@d3v7  Thanks for this awesome API, I successfully created an ESP8266 IoT display, Is it possible to add some other things like state-wise data, Like total numbers from westbengal etc.

[2020-03-28 12:33] d3v7 commented on #20
yes sure i will add it soon.

[2020-03-28 12:40] utkarsh1996 commented on #20
Hi, want to ask that are these api available in future or you have any plans to put it down, as I am using them to gather the data.

[2020-03-28 12:45] d3v7 commented on #20
actually I have no idea. the owner may keep it for a year or something I guess .
@someshkar @JunaidBabu

[2020-03-28 12:47] someshkar commented on #20
It should be up for quite a while, don't hesitate to use it!

[2020-03-28 12:57] utkarsh1996 commented on #20
okay, thanks.

[2020-03-28 13:38] Soumojit28 commented on #20
@someshkar @JunaidBabu add this API also in the readme, so others can easily find it.

[2020-03-28 16:33] JunaidBabu commented on #20
Out of scope. Closing

[2020-03-28 16:33] #20 closed

[2020-03-28 18:46] ScuderiaAirlines opened #24 "The API response does not look like properly formatted JSON data?"
There are no square brackets. Nor is this data properly iterable in JS via "key in" or any other method. I'm talking about state_district_wise. Not being able to access the keys numerically, say data[0] instead of typing data['Kerala'] is a problem when there is even more nested data, and no state-wise summary is available - in which case I would have reluctantly hard-coded the 28 values..

Or may

[2020-03-28 20:09] sumitmckv commented on #24
@ScuderiaAirlines try to iterate state_district_wise something like this to get state-wise summary.
[code]
Also check statewise section in
https://github.com/covid19india/api/blob/0fe91d81d19d4959da2a9b0a717a7d69846027e2/data.json#L536-L564

[2020-03-28 20:30] ScuderiaAirlines commented on #24
Thank you so much @sumitmckv! I should have checked all the json files. This solves my issue. I'll close it now.

[2020-03-28 20:31] #24 closed

[2020-03-29 01:36] #19 closed

[2020-03-29 01:37] sudevschiz opened #25 "Add more documentation to the README"
README can give more context regarding the details in the API

It can also mention a changelog as lot of data fields are getting added to the data.

[2020-03-29 09:33] sijusamson opened #26 "In Rajasthan state there is a district "Pratapgarh" which is displayed like "Pratapgarh "."
Due to this, there is a problem in the live site. for details, please see the below points.
**Describe the bug**
In map patient count is not reflecting on 'Pratapgarh' district of Rajasthan

**To Reproduce**
Steps to reproduce the behavior:

Go to 'Rajasthan map and expand it'
Click on 'Pratapgarh district'
Scroll down to 'Rajasthan' under column State\UT
See the patient count
Expected behavior
A

[2020-03-29 09:46] sijusamson commented on #26
https://github.com/covid19india/api/pull/27 is the solution for it

[2020-03-29 16:07] alphasingh opened #31 "District names in API do not reflect actual districts in the Map"
Refer to Issue #26 for such a similar case.
A similar trend is observed in other states as well.

As you can see below, the district name is "SHAHID BHAGAT SINGH NAGAR" in API as well as the left drop down of the state wise distribution. While the actual mapping on the Map does not have any district with this name, instead the actual district "SHAHEED BHAGAT SINGH NAGAR" on the map shoes 0 confirm

[2020-03-29 18:06] alphasingh commented on #26
Updated in #27 itself for reference

[2020-03-29 22:22] utkarsh1996 commented on #20
Hi, raw_data api giving CORS when I am using it to retrieve data.

[2020-03-30 05:54] aadil494 opened #34 "Bandipore and bandipora are the same districts in jammu and kashmir"
There is a mistake u are treating bandipora and bandipore as two different district but they are the same

[2020-03-30 07:42] Satyampd opened #35 "Add state-wise api for State -Confirmed-Recovered-Deaths-Active"
There is no api for Statewise data, can that api added for state-wise data of Confirmed-Recovered-Deaths-Active.

[2020-03-30 09:32] amodm commented on #35
https://api.rootnet.in/covid19-in/unofficial/covid19india.org/statewise

https://api.rootnet.in/covid19-in/unofficial/covid19india.org/statewise/history

[2020-03-30 09:34] Satyampd commented on #35
Okay thanks, closing it!

[2020-03-30 09:34] #35 closed

[2020-03-30 09:54] vamshi9666 opened #37 "state names in gender field"
I was visualizing data and found a blunder in raw data. Gender field has state names in it

[2020-03-30 09:57] vamshi9666 commented on #37
graph :
<img width="1370" alt="Screenshot 2020-03-30 at 3 25 40 PM" src="https://user-images.githubusercontent.com/28837336/77899955-f3db7f80-729a-11ea-85c9-890c30f46dd2.png">

[2020-03-30 10:01] vamshi9666 commented on #37
@JunaidBabu  is this acknowledged and resolved already?

[2020-03-30 10:29] vamshi9666 opened #39 "Visualizations"
graphs link : [ charts ](https://charts.mongodb.com/charts-covid-india-data-ofefv/public/dashboards/beebb98a-d7a7-4f2b-8b86-4eb4b2569cf1)

[2020-03-30 10:30] vamshi9666 commented on #37
#39

[2020-03-30 10:35] sudevschiz commented on #37
Hi @vamshi9666 , I am not able to reproduce this. The gender column seem to have only M and F values
[code]

[code]

[2020-03-30 10:35] #37 closed

[2020-03-30 10:36] sudevschiz commented on #39
#37 Closes this issue

[2020-03-30 10:36] #39 closed

[2020-03-30 14:21] imbdb opened #40 "how to fix typos in data?"

[2020-03-30 14:23] dhruvdutt opened #41 "Typo in Ahmedabad"
There's a typo in [Gujarat - Ahmedabad](https://en.wikipedia.org/wiki/Ahmedabad)

Please tag the relevant people from data team to fix in Sheets DB.

![image](https://user-images.githubusercontent.com/5961873/77923421-103de300-72c0-11ea-8793-6bd33c32f86b.png)

[2020-03-30 14:25] dhruvdutt commented on #40
I think you can't. There's a dedicated data team which maintains all the data in Google Sheet.
Probably, we'll have to put requests somewhere/here for them to fix things.

[2020-03-30 14:32] imbdb commented on #40
We should have automated validation system which validates simple typos and restricts user from doing simple mistakes.
I can do that if possible.

[2020-03-30 16:14] manojkumarsmks commented on #41
This could be a good start for me, Can I work on this ?

[2020-03-30 17:31] ars75 opened #42 "state_district_wise.json format update -> JSON array"
I propose updating the JSON format to have a JSON array to make it simpler to parse it easily in a dynamic manner.

Current JSON format
[code]

Proposed JSON format
[code]

[2020-03-30 18:28] hypoalien opened #43 "Inaccurate count of deaths in the state Telangana"
actual death of total no of people dead is 2 in Telangana but API returns '8' instead .

[2020-03-30 18:38] strikertanmay commented on #42
Yes, this formatting will make things simpler. I would like to work on this issue.

[2020-03-30 19:55] #43 closed

[2020-03-31 03:30] tamilanmanikandan opened #44 "Inaccurate count of Recovered in the state Tamilnadu"
The tracker shows Actual Recovered  people are 4 in TamilNadu but raw_data API returns '2' instead.

[2020-03-31 04:33] aekanshd opened #45 "Delta Not Consistent"
Hello, we've just started consuming the API and everything was fine. From midnight, the delta has stopped showing. I saw the data.json and it turns out the statewise "total" delta is empty. Instead, now it's shown in "keyvalues". Why this change?

[code]

[2020-03-31 05:13] deep5050 opened #46 "warn people via banner to use `pmcares@sbi` instead of `pmcare@sbi` which is a fraud UPI"
according to wikipedia (https://en.wikipedia.org/wiki/PM_CARES_Fund):
"While the original UPI account was PMCARES@SBI, Delhi Police booked unknown individuals for creating an account removing the 'S', PMCARE@SBI, intended to scam people."

[2020-03-31 07:48] krishnasen2401 commented on #42
Even tools like tableau and power bi have tough time in processing the current json format every district is take a single row and as result a matrix had been formed

[2020-03-31 07:52] krishnasen2401 commented on #44
it seems the data api which used by the main website has data entered manually so it would be different

[2020-03-31 09:11] DebasmitaGhosh1 opened #49 "Spelling mistake: Derjiling to Derjeeling in WB state."
correct pronunciation is Darjeeling . It will be great if we correct Darjiling to Darjeeling, thanks :)

[2020-03-31 09:49] worldofprasanna opened #50 "Invalid district "Vellorer" in Tamilnadu"
Duplicate entry for the district "Vellore" is present and the name is given as Vellorer.

@JunaidBabu - From your previous comment, saw that the corresponding google sheet has to be corrected by removing this data. Thanks.

File: state_district_wise.json, Line: 508

[2020-03-31 10:03] circuitmamu opened #51 "Gujarat District wrong names in API but in the map it shows correct name"
https://api.covid19india.org/state_district_wise.json
To verify official names visit official guj govt site for COVID-19
https://gujcovid19.gujarat.gov.in/

~~Ahmadabad~~ => **Ahmedabad**
~~Mahesana~~ => **Mehsana**
~~Kachchh~~ => **Kutch**

Please rectify it and if need any help I can help it for Gujarat state data

[2020-03-31 10:18] DebasmitaGhosh1 opened #52 ""27 States/UTS Affected" can be shifted a little left ."
it will be grate if we shifted the padding "27 States/UTS Affected" a little bit left for the narrow width screen only .thank you. :)

[2020-03-31 11:22] vikpy opened #53 "Count of patients with deceased not matching with the dashboard numbers"
Checked the status attribute and took a count of patients with status as deceased in Maharashtra. It is 10 on the dashboard

API used:
https://api.covid19india.org/raw_data.json

[2020-03-31 12:29] kirpal06391 commented on #53
+1

[2020-03-31 12:51] sanilborkar commented on #53
So I ran a script to pull all statuses from https://api.covid19india.org/raw_data.json and this is what I got

[code]

Are we missing something?

[2020-03-31 15:18] aekanshd commented on #53
#45 Similar problem.

[2020-03-31 15:49] circuitmamu commented on #41
#51 also look I found another 2 typos

[2020-03-31 15:50] circuitmamu commented on #51
#41 is same case of typos in Gujarat cities

[2020-04-01 01:18] ars75 commented on #42
Yep and even for programs that need this data, as new states and districts are being added its becoming difficult to keep up because of the non dynamic nature of this JSON! I would really appreciate if this can be converted into the suggested dynamic JSON array ASAP.

[2020-04-01 05:00] amit-arora01 commented on #53
Issue is not with API but the data compilation itself. raw sheet has the same numbers, seems like website is picking up data from some other source

[2020-04-01 06:37] krishnasen2401 commented on #53
its picking up form data.json api

[2020-04-01 06:38] krishnasen2401 commented on #42
until someone gets assigned it difficult to get it noticed

[2020-04-01 08:00] sumitmckv commented on #42
@ars75 @krishnasen2401 I would suggest creating a new state_district_wise_v2.json with the proposed JSON format from state_district_wise.json.
And keep exiting format as it is in state_district_wise.json otherwise it's going to break existing applications that are using this JSON.
@JunaidBabu your thoughts

[2020-04-01 08:06] krishnasen2401 commented on #42
The problem is that state and remain heading are taken as column heading or in matrix format states as one column and remain data as seperate column i.e each district as seperate column as result the data has 20 rows but dynamic column count create or only 1 row with dynamic number of  column
So We were suggesting a api format

[2020-04-01 08:22] sumitmckv commented on #42
Yes, I agree with the restructuring.
Better to have a new API for this restructuring instead of changing the existing one.
Something like:
https://api.covid19india.org/state_district_wise_v2.json
Or
https://api.covid19india.org/v2/state_district_wise.json

And keep the existing format as it is in https://api.covid19india.org/state_district_wise.json

[2020-04-01 08:41] krishnasen2401 commented on #42
That would help everyone

[2020-04-01 09:59] JunaidBabu commented on #42
Sounds good.. please raise a PR.
Let's maybe keep it like https://api.covid19india.org/v2/state_district_wise.json

[2020-04-01 10:14] JunaidBabu commented on #52
Thank you.
Please raise issues related to website at https://github.com/covid19india/covid19india-react

[2020-04-01 10:14] #52 closed

[2020-04-01 10:16] JunaidBabu commented on #53
This is something we're finding difficult time right now.. When there are reports on deceased or recovered, we are not able to map it to the patient ID for most cases. So we are tracking them in a separate sheet as of now.

[2020-04-01 10:25] JunaidBabu commented on #51
Most of these issues are fixed. If it's still happening, please report at https://github.com/covid19india/covid19india-react

[2020-04-01 10:25] #51 closed

[2020-04-01 10:26] JunaidBabu commented on #50
https://github.com/covid19india/api/issues/51#issuecomment-607166974

[2020-04-01 10:26] #50 closed

[2020-04-01 10:26] JunaidBabu commented on #49
https://github.com/covid19india/api/issues/51#issuecomment-607166974

[2020-04-01 10:26] #49 closed

[2020-04-01 10:27] JunaidBabu commented on #41
https://github.com/covid19india/api/issues/51#issuecomment-607166974

[2020-04-01 10:27] #41 closed

[2020-04-01 10:27] JunaidBabu commented on #26
https://github.com/covid19india/api/issues/51#issuecomment-607166974

[2020-04-01 10:27] #26 closed

[2020-04-01 10:27] JunaidBabu commented on #34
https://github.com/covid19india/api/issues/51#issuecomment-607166974

[2020-04-01 10:27] #34 closed

[2020-04-01 10:47] sumitmckv commented on #42
@JunaidBabu I will work on this today.

[2020-04-01 10:50] vikpy commented on #53
I need data for state/union territory-wise time series forecasting. Is it possible to get the data from 30-01-2020 till the current date for each state and union territory? Or is there a source using which I can generate such a state-wise time series data?

[2020-04-01 18:08] amit-arora01 commented on #53
@JunaidBabu can we publish the data on sheet deaths_and_recovered in a seperate API?

[2020-04-02 03:43] #42 closed

[2020-04-02 03:47] krishnasen2401 commented on #42
Thank you

[2020-04-02 03:48] kiranvj opened #58 "CORS issue when trying to hit API from localhost."
I tried to hit API (`https://api.covid19india.org/data.json`) from localhost:3000, using [Axios ](https://www.npmjs.com/package/axios) and [jsonp](https://www.npmjs.com/package/jsonp)

Both requests are blocked due to CORS. Is there any recommended way to use the api?

via jsonp
![image](https://user-images.githubusercontent.com/3539487/78208693-9e81b700-74c2-11ea-9e63-e41f41d033c4.png)

via axios

[2020-04-02 04:17] amsaha opened #59 "Consider giving the dataset to Kaggle"
https://www.kaggle.com/datasets

[2020-04-02 04:42] krishnasen2401 opened #60 "Data mismatch with regarding statesv2"
Data in main statesv2 api is different than that of maindashboard a new values of unknown states is getting processed including the unknown districts compared with data.json,raw_data for cities and statesv2 for daily deltas of districts

![image](https://user-images.githubusercontent.com/13378434/78210809-e99ec880-74c8-11ea-8b7b-61a907c86214.png)

even when using single table same result while pro

[2020-04-02 06:14] ranjitmnair opened #61 "No. of Deaths changed to zero in State-Districts JSON API"
The no. of confirmed deaths(delta) has changed to zero fro all districts in the JSON A PI. Please do consider updating it as I am using it for a project that just focuses on Gujarat as a State. Any kind help will be appreciated.
The data in the API has been changed. Please do look into it.

[](https://api.covid19india.org/state_district_wise.json)
@manojVivek @JunaidBabu @sumitmckv @dhwanilvyas @s

[2020-04-02 14:35] kiranvj commented on #58
I was passing some config headers. That was the issue

This failed
[code]

this worked

[code]
Closing the issue.

[2020-04-02 14:35] #58 closed

[2020-04-02 18:36] kousiksatish opened #63 "Link to latest update source from each state"
This issue is linked to https://github.com/covid19india/covid19india-react/issues/558

**Is your feature request related to a problem? Please describe.**
No. It is a new feature which would help people like me who would like to know more about the update.

**Describe the solution you'd like**
In recent days, we see that each state government is mostly giving one update per day. It would be good if

[2020-04-02 18:38] kousiksatish commented on #63
@JunaidBabu Please assign it to me, if you find this enhancement acceptable. I would like to work on it.

[2020-04-03 01:23] sudevschiz commented on #63
Making the API more useful is always welcome. Please do share the structure in which you want to provide this link. Many a times, there are multiple source links.

Anyway, assigning to you.

[2020-04-03 02:10] sudevschiz opened #65 "Add Death_And_Recovery sheet as an API"
Currently, details in the raw_data for death and recovery won't match the exact numbers because, most of the time we won't have the exact details which patient the news or bulletin is referring to.

So, we have created a separate sheet where this details are added.

It would be great if this sheet is provided as an API separately or as part of raw_data.

[2020-04-03 03:05] DwijadasDey opened #66 "API Access to patient data"
API for the following sheets:

National time series, statewise stats and test counts
State-district-wise
Travel history
Raw data

Ref: https://github.com/covid19india/covid19india-react/issues/541

[2020-04-03 06:19] sbkharbas opened #67 "District-wise data is not up to date"
District-wise data is not consistent. Please check the attached pdf which I just downloaded from [Ministry of Health and Family Welfare](https://www.mohfw.gov.in/).

Here in case of Rajasthan Sikar and Pali districts 1 confirmed case each but on https://www.covid19india.org/ it is showing 0 for both.

[2020-04-03 06:20] sbkharbas commented on #67
PFA the pdf.
[Uploading DistrictWiseList324.pdf…]()

[2020-04-03 07:15] kousiksatish commented on #63
@sudevschiz I will review and get back to you.

[2020-04-03 10:00] sudevschiz commented on #67
We are on the constant process of reconciling data with state bulletins. There could be a delay.
Will look at this. THanks for reporting

[2020-04-03 10:00] #67 closed

[2020-04-03 10:02] sudevschiz commented on #66
These are already available. Please check the page api.covid19india.org for more details

[2020-04-03 10:02] #66 closed

[2020-04-03 10:05] sudevschiz commented on #60
Can you confirm if this is still an issue? Since the backend data is being edited constantly, there could be a point in time when some state was mentioned as Unknown.
Please do check again and report

[2020-04-03 10:11] sudevschiz commented on #59
User SRK had already added our data in his dataset. https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

Hope you'll support by publishing the API further. :)

[2020-04-03 10:11] #59 closed

[2020-04-03 10:12] sudevschiz commented on #46
Out of scope.

[2020-04-03 10:12] #46 closed

[2020-04-03 10:16] sudevschiz opened #68 "Reflect the new logic to calculate delta values into the API"
Initial logic to calculate recovered and deceased delta from the raw data failed as the number of cases increased and it was getting tough to assign the aggregate number to individual patients.
We revoked that calculation and made those values 0.

https://github.com/covid19india/api/issues/61
https://github.com/covid19india/api/issues/45

We made changes in the process and logic and the correct da

[2020-04-03 10:17] krishnasen2401 commented on #60
Yes it's still a issue in api but I am filtering it out

![15859090081952352685277295365408](https://user-images.githubusercontent.com/13378434/78350162-58ac1800-75c2-11ea-8e73-7d33a5c62bee.jpg)

[2020-04-03 10:18] sudevschiz commented on #53
@amit-arora01 https://github.com/covid19india/api/issues/65

[2020-04-03 10:22] sudevschiz commented on #60
@JunaidBabu could you have a look? How's `v2/state_district_wise.json` prepared?

[2020-04-03 10:22] #61 closed

[2020-04-03 10:23] #45 closed

[2020-04-03 10:24] sudevschiz commented on #44
Raw data cannot be used for computing the recovered cases.

Work on https://github.com/covid19india/api/issues/68 will fix this issue.

[2020-04-03 10:24] #44 closed

[2020-04-03 10:24] sudevschiz commented on #40
What typos? Could you describe further?

[2020-04-04 06:55] kousiksatish commented on #63
@sudevschiz I wish to add it in the data.json -> statewise -> latestSources as shown below:
![Screen Shot 2020-04-04 at 12 23 08 PM](https://user-images.githubusercontent.com/6641694/78420707-2f959100-766f-11ea-97ab-735cedd0df17.png)

I wish to know how to add it in there. As far as I understood from the code, it is directly fetched from the excel sheet.

Should we change add this column in excel

[2020-04-04 10:51] subratray opened #70 "additional attribute in national time series"
The wrapper "cases_time_series" has an attribute named as date in national time series API  (https://api.covid19india.org/data.json). _date_ is a reserved key word in many systems. To allow them to parse this data, please add another attribute to return the same data as _data_ attribute.

{
			"...
			"dailyrecovered": "0",
			"date": "30 January ",
			"...
		}

[2020-04-04 17:58] alphasingh commented on #40
@sudevschiz Some of the points had been mentioned already in #31 #26 and #29

[2020-04-04 18:48] kousiksatish commented on #63
@sudevschiz @JunaidBabu Please provide your inputs so that we can get this done. I am struck here

[2020-04-05 05:51] abhikhaiwale opened #72 "API (lost key_values Array)"
https://api.covid19india.org/data.json
Api has lost the key_values array. It is not showing that anymore.
Please fix it.

[2020-04-05 05:54] asprazz commented on #72
Yeah! I noticed it too, but it was removed in 4162f334e1ee3ba7af201199070f9ef77163bb8f may be by keeping something in mind..

[2020-04-05 06:20] prakharbhardwaj commented on #72
I guess Key_value array is no more needed as delta values are now declared in [statewise] -> {state: Total}

[2020-04-05 07:11] abhikhaiwale commented on #72
Thanks for the information. Really helped.

[2020-04-05 07:27] sudevschiz opened #73 "Convert curated resources sheet to an API"
https://bit.ly/covid19resourcelist

This sheet need to be converted into an API so that it can be updated in the Resources tab.

[2020-04-05 07:37] #73 closed

[2020-04-05 07:45] sudevschiz commented on #73
https://api.covid19india.org/resources/resources.json

[2020-04-05 08:33] ishan0445 commented on #72
Hi,
Even my telegram bot just broke due to this update in APIs,
It is suggested that the JAON structure should not be modified since there can be a lot of apps that are dependent on it and they all will break.
All the new changes should be made in the v2 APIs or higher

[2020-04-05 13:59] krishnasen2401 commented on #72
@JunaidBabu did the api  fail or was it removed???

[2020-04-05 17:23] JunaidBabu commented on #72
`key_value` field was a copy of the data in `statewise[0]`. We're sorry for removing this field abruptly, had to do some hard refactoring in the sheets.. All the data is still available in data.json itself in the total field. Could you please use them?

[2020-04-05 17:25] krishnasen2401 commented on #72
Thank for the clarification will definitely do so

[2020-04-05 19:20] sudevschiz commented on #63
There are several considerations here:
1. For the confirmed cases, the source has to be fetched from the raw_data.json. That too, cases are now bulk updated. So 20-30 cases might have the same source. Please have a look at the sheet to understand further.
2. Deaths and Recovered has to be fetched from a different sheet. Not sure if that is being made into an API already @JunaidBabu ?

From these d

[2020-04-05 19:23] sudevschiz commented on #16
This has been fixed.

[2020-04-05 19:23] #16 closed

[2020-04-05 19:24] #53 closed

[2020-04-05 19:24] sudevschiz commented on #68
This has been fixed and the delta values in data.json is correct for each statewise

[2020-04-05 19:24] #68 closed

[2020-04-05 19:25] #72 closed

[2020-04-05 20:00] faisal3389 commented on #65
let me know if this enhancement is accepted, I would like to contribute to this API

[2020-04-06 10:24] kavishdahekar opened #75 "API shows Gujarat as a district inside Maharashtra"
Replicating this issue from [covid19india-react#718](https://github.com/covid19india/covid19india-react/issues/718)

Gujarat is displayed as a state in Maharashtra.

Lines of code:
https://github.com/covid19india/api/blob/548ae6e3fc5020fa931b271f02fe4f7523f256bc/state_district_wise.json#L1297

https://github.com/covid19india/api/blob/548ae6e3fc5020fa931b271f02fe4f7523f256bc/v2/state_district_wise.

[2020-04-06 11:15] ifrahur opened #76 "Problem with /v2/state_district_wise.json"
Can the format of [state_district_wise](https://api.covid19india.org/v2/state_district_wise.json) be changed to the format same as in [statewise](https://api.covid19india.org/data.json) to make it simpler to parse it easily in a dynamic manner.

**Current Format**

  {
    "state": "Kerala",
    "districtData": [
      {
        "district": "Thrissur",
        "confirmed": 12,
        "lastupdated

[2020-04-06 11:21] Anshul5404834 opened #77 "I made Android app from your state V2 API"
If you want to have a look then , i can let you have the apk

[2020-04-06 11:42] shishir-gangwar opened #78 "updating the /v2/state_district_wise.json format"
Can we use the following json format :-
{
  "Kerala": {
      "districtData": {
         "Thrissur": {
            "confirmed": 12,
            "active": 10,   // new addition
            "deaths": 0,  // new addition
            "recovered": 2,  // new addition
            "lastupdatedtime": "",
            "delta": {
                "confirmed": 0,
                "active": 0,  // new addition

[2020-04-06 12:04] ifrahur commented on #78
yes please..
even i mentioned the same in problem #76
it'll be easier for people to work with it..

[2020-04-06 13:26] Sdaas opened #79 "states_daily.json does not have previous day's data ..."
https://api.covid19india.org/states_daily.json / states_daily.json file does not seem to have the most recent data. Right now ( Apr 6th ), this seems to have data only till Apr 4th. How frequently is this supposed to be updated ?

[2020-04-06 17:47] P-ignatovich opened #80 "Automated code review for Covid-19 monitor API"
Hi!
I am a member of the team developing **monocodus** — a service that performs automatic code review of GitHub pull requests to help organizations ensure a high quality of code.
We’ve developed some useful features to the moment, and now we’re looking for early users and feedback to find out what we should improve and which features the community needs the most.

We ran monocodus on a pre-create

[2020-04-06 19:58] onclave commented on #79
I'm facing the same issue. Why is this not being updated even though the commit message says it has been updated for both 5th and 6th April data?

[2020-04-06 22:13] kousiksatish commented on #63
Agree that the size should be small, we will be adding latest sources for today. Max 2 links

[2020-04-06 22:15] kousiksatish commented on #63
As you mentioned, fetching it from raw data, looks slightly complicated but not impossible... Is there any other way you could think of? I will review and get back with more info.

[2020-04-07 06:14] amit27592 commented on #79
Seems to be fixed now.

[2020-04-07 06:19] amit27592 commented on #75
Maybe those are originally Gujarat patients who have since been moved to Mumbai. (Like foreign nationals who were moved to the embassy). Not sre how those are populated in the API.

It would be helpful in getting clarity here.

[2020-04-07 08:42] Umair-Syed opened #81 "I developed an android app with all details also notifications when data is updated"
https://github.com/Umair-Syed/FightCovid.git

[2020-04-07 08:51] TheDominus opened #82 "New field in the data.json"
Requirements -
In the case time series part of the data.json, we have confirmed, deceased and recovered data but if we can have **active cases** also i.e.```confirmed - deceased - recovered```. It can be useful to create many graphs and will decrease the redundant calculations.

Analysis required -
However, more analysis needs to be done if we should contain redundant data in API to ease of graph

[2020-04-07 11:06] kavishdahekar commented on #75
Yeah that could be the case, but it leads to "Gujarat*" showing up as a district under Maharashtra which could be misleading.

Do we have the code that pulls data from the crowd sourced sheet and updates the api?

[2020-04-07 11:18] amit27592 commented on #75
The code is also in the repository. It is technically a node module with package.json missing.

You can clone the repo, install required packages (see package-lock.json for dependencies), and run the js scripts.

I think to get started, view pushthejson file (Shell script).

[2020-04-07 14:23] kavishdahekar commented on #75
Thank you @amit27592 , will try that out!

[2020-04-07 14:25] onclave commented on #79
Yes, it has been fixed. @Sdaas this issue can be closed now.

[2020-04-07 15:36] rashnk opened #83 "lastupdatedtime: is correct last updated time ?"
In the data.json endpoint lastupdatedtime is not correct date
confirmed and deltaconfirmed are correct number and  uptodate  for 07-04-2020 9:00 for Kerala, but the api return last updatedtime as lastupdatedtime: "06/04/2020 19:24:25"

[2020-04-07 18:46] aayush-jaiswal opened #84 "Add a short description for the repo"

[2020-04-07 18:49] TheDominus commented on #82
@JunaidBabu

[2020-04-08 12:55] #84 closed

[2020-04-08 12:55] JunaidBabu commented on #83
@sudevschiz

[2020-04-08 12:57] JunaidBabu commented on #82
Thanks for the input. But it seems redundant. This can be done on client side itself.

[2020-04-08 12:57] #82 closed

[2020-04-08 13:00] JunaidBabu commented on #81
Noted. We can list up the derivative works in a show-case tab in the website maybe. Closing this issue now.

[2020-04-08 13:00] #81 closed

[2020-04-08 13:01] JunaidBabu commented on #80
If you've found issues, could you raise a PR with the fix?

[2020-04-08 13:01] #79 closed

[2020-04-08 17:05] sudevschiz commented on #83
Seems okay now.
Google Scripts were timing out during the day a few times due to some network error reason. Could be due to that?

[2020-04-08 17:10] JunaidBabu commented on #40
@alphasingh, we've fixed the names in sheet as well as the site to match correctly. Could you please check whether these issues still exist? If yes could you close them from this repo and raise at https://github.com/covid19india/covid19india-react ?

[2020-04-08 17:12] sudevschiz commented on #77
That's great. Please do share the same in the dev group.
However, closing this issue.

[2020-04-08 17:12] #77 closed

[2020-04-08 17:15] sudevschiz commented on #70
It's a JSON object. `date` is quite valid, I would say. Please handle this at the consumer end,

[2020-04-08 17:15] #70 closed

[2020-04-08 17:17] sudevschiz commented on #75
Gujarat* was intentionally kept in the district list. Others have also raised this confusion. We will work on this.

[2020-04-08 17:33] JunaidBabu commented on #60
This happens because in the sheets there are extra rows with only patient ID and other fields blank. Need to filter those in the api. I'll work on a fix

[2020-04-08 17:39] JunaidBabu commented on #76
What's the difference between current and proposed formats? 🤔

[2020-04-08 17:49] JunaidBabu commented on #60
Removed unknown states from the json 1b912b3a814d66c65f187fde26424bd8fca3faa8

[2020-04-08 17:49] #60 closed

[2020-04-08 18:30] #83 closed

[2020-04-08 22:36] avneeshroks commented on #65
Was trying for this API, what's the sheet id for Death_And_Recovery tab? Or where to find the Sheet Id's for the tabs in https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml#

[2020-04-09 03:42] Arusara commented on #75
can i take this work item @sudevschiz ?

[2020-04-09 03:54] Arusara commented on #6
i would like to work on this item

[2020-04-09 04:01] NirantK commented on #6
@Arusara the code for this is here: https://github.com/NirantK/coronaindia

I opened this issue here mainly for documentation and no other reason. Closing this to avoid confusion.

[2020-04-09 04:01] #6 closed

[2020-04-09 05:33] ifrahur commented on #76
i'm sorry this format..

`{
	"districtWise": [
		{
			"state": "Maharashtra",
			"districtData": [
				{
					"districtName": "Pune",
					"confirmed": 42,
					"lastupdatedtime": "",
					"delta": {
					  "confirmed": 5
					}
				},
				{
					"districtName": "Mumbai",
					"confirmed": 75,
					"lastupdatedtime": "",
					"delta": {
					  "confirmed": 3
					}
				}
			]
		},
		{
			"state":

[2020-04-09 11:01] #78 closed

[2020-04-09 12:53] data-domain opened #88 "Telangana data is not updated, too many 'Unknowns' in state_district_wise"
Currently for Telangana it shows 104 for Hyderabad and 277 for Unknown district.

But Telangana data  from government [here ](https://covid19.telangana.gov.in/wp-content/uploads/2020/04/Telangana-Health-Department-Media-bulletin-08-04-2020.pdf) gives clear numbers for all districts (no Unknowns). Hyderabad is 161 now.

Please consider updating, thank you!

[2020-04-09 16:26] abishekrsrikaanth opened #90 "Feature Request: Add the ability to query raw data by date"
Can you add the ability to query the raw data by the date on which the data was added? Processing all the data in one go is quite a time consuming job

[2020-04-09 22:14] abishekrsrikaanth opened #91 "Feature Request: Add Last update time to raw data json"
Can you please add a global `last_updated_time` field to the `raw_data.json` so we would know if we require the data needs to be processed or not.

[2020-04-10 02:54] JunaidBabu commented on #90
This is one issue we are struggling with right now. Since the size of raw_data is becoming bigger every day, we might need to find alternate ways. Maybe breakdown the json file into different files based on date or state for example.

Do you have any suggestions?

[2020-04-10 03:29] bauripalash commented on #90
Directly using the `raw_data.json` file in the webapp is not a good idea. We could just split it according to our needs, for example in the deepdive feature instead of calculating the gender values, age distribution etc. on client side , the task can be done here creating a new json with calculated values.

[2020-04-10 05:05] #31 closed

[2020-04-10 05:06] #40 closed

[2020-04-10 10:24] abishekrsrikaanth commented on #90
I don't really see a point in breaking down the `raw_data.json` file because the whole file tells a story. Breaking them wouldn't do the same.

Right now, what I am doing is retrieving the raw data every hour and importing it into an elastic search server to make the queries as required within my app. The problem that I currently have is 2 folds:

- I don't have a way to see which record was recen

[2020-04-10 14:46] pyarisinghk opened #93 "Minor typo in the banner"
The banner showed a minor typo. "grociery" was used in the banner. (id: 16) instead of "grocery". Tried editing the Patient Database excel. However, could not do it and hence listing it here as an issue.

[2020-04-10 15:01] pyarisinghk commented on #93
Also, on the banner id 12 - there can be a space after "Be considerate" and before "Help those in need"

[2020-04-10 18:41] Nitin96Bisht commented on #93
@pyarisinghk You can't access the sheet until you have owner access. You can request for owner access.

[2020-04-10 22:44] xsreality opened #95 "Using Apache Kafka Streams for delta and daily calculations"
Hi,

I have built an event streaming architecture with Apache Kafka that reads the raw_data.json and data.json APIs to calculate the delta changes (shown as updates on the website) and daily increments. Currently I am using to send updates via a Telegram bot to any subscribers. The updates are similar to what gets sent in Instant updates channel in Telegram.

The Apache Kafka streams code and desi

[2020-04-11 14:25] ankurtechelogy opened #97 "Api"
Can i use your apis I my website?

[2020-04-11 15:49] Priyansi commented on #25
Assign this to me. I can help.

[2020-04-11 17:04] JunaidBabu commented on #97
Yes.

[2020-04-11 17:04] #97 closed

[2020-04-11 20:20] sudevschiz commented on #93
Fixed this. Thank you.

[2020-04-11 20:20] #93 closed

[2020-04-11 20:21] sudevschiz commented on #88
We did notice the district wise list from Telangana government. However we are struggling to map the exact patient to each district. Working on this.

[2020-04-11 20:27] sudevschiz commented on #75
There is no change to be done in the code base. This has to be edited in the Google sheet itself.

However, we'll continue to mark them this way for lack of better way to match with how the state reports consider these cases

[2020-04-11 20:33] sudevschiz commented on #91
@JunaidBabu I believe this has to be done at the API end. Just add a key-value to the json IF there is a valid diff?

This is if there last updated time in raw_data.json should be for updated for ANY change: adding a patient detail or adding a new source link in a previous case.

If the last updated time should be the time when a confirmed case is added or recovery is reported, we can use the last

[2020-04-11 20:36] sudevschiz commented on #65
@JunaidBabu Can @faisal3389 work on this?

[2020-04-11 22:17] kavishdahekar commented on #75
Thanks for the update. Closing this issue.

[2020-04-11 22:17] #75 closed

[2020-04-12 00:13] Manjukb opened #100 "API to get total count till any date"
Is there any API where I can get total count of all states/dist till any date specified or date wise grouped data ???

[2020-04-12 07:34] vikasrawal opened #102 "Number of deceased in raw_data.json"
Why are there just 31 entries with currentstatus as "Deceased"? Is there some other way of identified people who have died?

[2020-04-12 09:22] ninjakx opened #103 "Data value mismatch"
**[stateDailyResponse.data.states_daily](https://api.covid19india.org/states_daily.json):**
[code]
This sum up to 158

**[response.data.cases_time_series](https://api.covid19india.org/data.json):**
confirmed cases was for 14th march:
102

[2020-04-12 10:01] JunaidBabu commented on #102
Please use this for Deaths and recoveries
https://api.covid19india.org/deaths_recoveries.json

[2020-04-12 10:01] #102 closed

[2020-04-12 10:14] vikasrawal opened #104 "city field blank for many records in deaths_recoveries.json"
Information for the city is missing in many cases. Is there some other place where one could get this?

Thanks.

[2020-04-12 10:22] JunaidBabu commented on #65
d7c466a7f241738b54301e452519ac4f1e43e5c3

[2020-04-12 10:22] #65 closed

[2020-04-12 14:11] aekanshd opened #105 "All districts including Bangalore replaced by 'Unknown'! Broken API!"
![image](https://user-images.githubusercontent.com/30038178/79070557-4766b800-7cf4-11ea-9fd2-b5b8953fffe0.png)

Because of this change, our website has broken. Please fix it asap.

[2020-04-12 15:28] JunaidBabu commented on #105
Issue with sheet. fixed.

[2020-04-12 15:28] #105 closed

[2020-04-12 15:28] JunaidBabu commented on #104
We're constantly updating this info in sheets as we get.

[2020-04-12 15:28] #104 closed

[2020-04-12 18:09] aritrapra opened #106 "raw data mismatch with state wise data"
recovered and death cases count mismatch with state wise data.

[2020-04-13 06:34] chaira19 opened #107 "Do we get data of the patients like gender, age for categorization?"

[2020-04-13 11:13] farhan-ejaz opened #109 "Testing data availability"
- API which can give date wise testing data (number of tests done) state-wise and district wise

- API which can give the consolidated number of tests done state-wise and district wise

This can be used to evaluate the relationship between the tests done and the cases detected.

[2020-04-13 17:39] Sdaas opened #110 "Current day's data missing in states_daily.json"
I am super confused about what to expect from https://api.covid19india.org/states_daily.json . Is it supposed to have the data for the current date ? Earlier today ( 13th Apr ), this file contained the data for 13th. Now it is not here ... Can someone please clarify the expected behavior ?

[2020-04-13 17:48] abishekrsrikaanth opened #111 "BUG: Essentials page is making multiple calls to resources.json"
The Essentials page when loaded make repeated calls to `resources.json`. Even though the 2nd call retrieves the data from the disk cache, it's better to get this bug fixed.

<img width="1680" alt="Screen Shot 2020-04-13 at 11 16 47 PM" src="https://user-images.githubusercontent.com/1639302/79144611-e4048500-7ddc-11ea-86bc-fde6e1982188.png">

[2020-04-13 20:17] sourabhdiwan opened #112 "API not getting updated."
Endpoint https://api.rootnet.in/covid19-in/unofficial/covid19india.org/statewise is not updated since 04:12:35 PM, 13-Apr-2020 (IST)

Last refreshed result -

[code]

[2020-04-14 07:35] sourabhdiwan commented on #112
API is getting refreshed.

[2020-04-14 07:35] #112 closed

[2020-04-14 10:37] vivek50 opened #114 "Feature Request : District-wise Recovered and death data"
Add District-wise Number of Recovered and death data in [v2/state_district_wise.json](https://api.covid19india.org/v2/state_district_wise.json)
that will be more helpful.

[2020-04-14 11:28] Ayush1325 opened #115 "Bug: Andrha Pradesh Total tested is a date"
In Item 170 [here](https://api.covid19india.org/state_test_data.json)

 is a date.

[2020-04-14 13:21] sudevschiz opened #116 "Create a workflow to organize and store snapshot of the data as CSV file once a day"
- This will help in keeping a backup of the files
- Also helps analysts to directly download files as csv in case they don't want to parse through an API

TODO:

1. Fetch and convert all the data as CSV
2. Identify a nice folder structure.
3. Setup a separate GitHub workflow to run at around 03AM IST.

[2020-04-14 14:35] sudevschiz commented on #114
Yes, we can add this information by using the District field in the Death and Recovered sheet. However, the data that is coming out is not very clear about where the recoveries happen.

Will keep this open enhancement issue for somebody to work on.

[2020-04-14 16:19] sudevschiz commented on #115
Fixed. Thanks for reporting.

[2020-04-14 16:19] #115 closed

[2020-04-14 16:23] sudevschiz commented on #110
Sorry about this. Ideally, the data for the day should show up in the API between 23:30 to 00:30 hours IST.

Due to some timezone confusion in a scheduled trigger, the data for 13th April was present much before 12o clock.

Made a note of this. Above mentioned is the expected behaviour. However, I would suggest you to place extra checks on your end to handle such cases. Thank you

[2020-04-14 16:23] #110 closed

[2020-04-14 16:25] sudevschiz commented on #109
It's already available here : https://api.covid19india.org/data.json

Please checkout the "tested" key. Thank you.

![image](https://user-images.githubusercontent.com/4298868/79249239-ef78ae80-7eb7-11ea-9723-a1d4c0d409f3.png)

[2020-04-14 16:25] #109 closed

[2020-04-14 16:28] sudevschiz commented on #107
Whatever information is available and the volunteers could capture is present in the Age and Gender column in Raw Data. Please do suggest other sources if you have found any.

[2020-04-14 16:28] #107 closed

[2020-04-14 16:29] sudevschiz commented on #106
Please don't use the Status column in Raw_Data. We are not able to match exact patient to their recovery or demise now.

[2020-04-14 16:29] #106 closed

[2020-04-14 16:34] sudevschiz commented on #100
Please check this out :  https://api.covid19india.org/states_daily.json :)

[2020-04-14 16:34] #100 closed

[2020-04-14 16:37] sudevschiz commented on #103
Data on 14th March would have a mismatch because we started collecting data from that point on.  So you can think of the data on 14th March to be "as of 14th March".

If volunteers get some time and this becomes critical for some analysis, we will try to back-udpate this data. Thanks for reporting.

[2020-04-14 16:37] #103 closed

[2020-04-14 16:39] sudevschiz commented on #95
Thanks a lot for using the API. Will update your project to the README :)

[2020-04-14 16:49] #95 closed

[2020-04-14 16:53] sudevschiz commented on #25
@Priyansi Please do discuss what details you plan to include.

[2020-04-15 04:10] sudevschiz opened #124 "Make district delta values for districts reset at 7AM IST instead of 12AM"
**Describe the bug**
Currently, the delta values are retained throughout the night (till 7AM the next day). However, the delta values for districts are reset at 12AM.

**To Reproduce**
1. Refer covid19india/covid19india-react#1099 to see the behaviour of the State Deltas. (this is as expected)
2. Change the system date to next day 12:05 AM to see the district delta values disappear.

**Expected be

[2020-04-15 05:42] #76 closed

[2020-04-15 07:13] Priyansi commented on #25
I'm sorry but something else came up. Please unassign me.

[2020-04-15 10:32] sudevschiz commented on #25
Sure.!

[2020-04-15 10:34] sudevschiz commented on #90
This could be achieved by keeping a daily snapshot of the data, organized in folders? I guess this can be saved as a separate workflow. This would solve #116 too, I guess

[2020-04-15 12:08] siddharthjaidka commented on #90
can we build an API server with all these query needs on top of the data layer? a minor structure change can provide only the essential data for the web app with minimum overhead and those who want full details can get it with a separate endpoint?

[2020-04-15 13:58] aritrapra commented on #106
Instead of raw data I used both  recovery and death data and raw data to calculate but the return result is same. The decreased colomn of recovary and death data is also didnt get the correct calculation.

[2020-04-15 16:22] cibinjoseph commented on #25
I have a bit of python code that generates trees like so:
[code]

We could put these pages in a `docs/<APIName>.md` markdown file and provide links to those as documentation for the APIs

[2020-04-15 16:32] karanehra commented on #116
I would love to help you with this if help is still required.

[2020-04-15 17:07] Arusara commented on #114
@sudevschiz i would like to work on this item. can you please assign to me?

[2020-04-15 20:35] faisalchishtii opened #120 "currentstatus of patients not updated in raw data API"
https://api.covid19india.org/raw_data.json

When we count the number of patients Hospitalized/Recovered/Deceased using raw data api `currentstatus`, we get:

**12169** patients marked as `Hospitalized`

**167** patients marked as `Recovered`

**39** patients marked as `Deceased`

while the actual count is:

![image](https://user-images.githubusercontent.com/26409919/79385970-0f2ad800-7f87-11ea-9ae

[2020-04-16 03:16] sudevschiz opened #121 "Add documentation on how to use Google Scripts to convert API to Google Sheet"
Pain point :
Many of our the analysts are not familiar with using the API for analysis.

Solution:
A google script can easily fetch the data from the API and store it in their personal Google Sheet every 30 minutes or so.
If we can create the script and write a simple document on how to do this, it would be a great help!

[2020-04-16 03:18] sudevschiz commented on #120
Please don't use the Current Status of the patient in the `raw_data.json` endpoint. We simply don't have the information whether the exact patient has recovered or deceased anymore.

This field will soon be deprecated.

[2020-04-16 03:18] #120 closed

[2020-04-16 03:20] sudevschiz commented on #25
Yes! We can do this. However an easy document to mention what the fields mean and any caveats regarding that field would be useful too. If you can create a simple template table, I can fill in more details regarding each field. Let me know.

[2020-04-16 04:58] faisalchishtii commented on #120
@sudevschiz Is there an alternate way to calculate statewise confirmed/active/deceased/recovered patients?

[2020-04-16 06:24] cibinjoseph commented on #25
Sure! I'm on it. I'll add the docs pages and send a pull request.

[2020-04-16 06:37] veeyeskay commented on #121
I have used this code in Google Sheets, to Import the JSON files from api.covid19india.org and it works fine.

/**
 * Retrieves all the rows in the active spreadsheet that contain data and logs the
 * values for each row.
 * For more information on using the Spreadsheet API, see
 * https://developers.google.com/apps-script/service_spreadsheet
 */
function readRows() {
  var sheet = SpreadsheetApp.

[2020-04-16 09:08] sirajulm opened #122 "Can we have the hotspot districts highlighted and have district time series"
Based on the Home Ministry there are some inclusion and exclusion criteria which would help us to mark the hotspot districts with the available data. But we'd need district-wise timeseries to generate those values.

https://economictimes.indiatimes.com/news/politics-and-nation/govts-plan-to-contain-local-outbreak-is-yielding-results-lav-agarwal/articleshow/75159535.cms

[2020-04-16 10:27] Aniruddha-S-Prasad opened #123 "Data missing in the deaths and recoveries api"
In the data received from the deaths and recoveries API, there does not seem to be any data prior to the date 29/03/2020. This data, however, seems to be present in the raw_data, which is mentioned to be depreciated. Is there any chance to get the full data in a single place?

[2020-04-16 11:29] cibinjoseph commented on #25
Check if this template is fine [myFork/docs/data.md](https://github.com/cibinjoseph/api/blob/docs/docs/data.md)
I've included a tree structure for showing hierarchy and a table format for extra notes.

Do you want a separate .md file for each API link or are you planning to put them all in one?
**Individual** --> Neater but difficult to search for a specific type of data.
**Single** --> All in one

[2020-04-16 11:39] cibinjoseph commented on #121
Not sure about how Google scripting works, but maybe this might be of help:
[Google Apps Script to read JSON and write to sheet](https://gist.github.com/mhawksey/1442370)

[2020-04-16 14:44] pushppriya opened #125 "Hyderabad is mapped as state in Death_and_Recovered Data"
Line 159 in Death_and_Recovered Sheet in Spreadsheet.

[2020-04-16 17:49] sudevschiz commented on #125
Thanks a lot for reporting. Fixed it.

[2020-04-16 17:49] #125 closed

[2020-04-16 17:51] sudevschiz commented on #123
We shifted to the Death and Recovery sheet on 29th March because we simply couldn't match recovery or death of a patient to an exact patient number. Will keep in mind about back-updating the death and recovery sheet. But it's hard work. Thanks for reporting. Keeping it open.

[2020-04-16 17:54] sudevschiz commented on #114
Assigned to you. The districts of deceased and recovered cases are sparse. So, please discuss here how you will represent this information here. Thank you!

[2020-04-17 05:31] Arusara commented on #114
@sudevschiz i am planing to add death and recovered  field in json

      {
        "district": "Alappuzha",
        "confirmed": 5,
        "lastupdatedtime": "",
        "delta": {
          "confirmed": 0
        }
        "recovered":3,
        "deceased":0
      },

[2020-04-17 11:06] sudevschiz commented on #114
Thank you. Awaiting PR :)

[2020-04-17 11:09] sudevschiz commented on #25
Individual files will be neater, as you mentioned, if we are keeping the tree structure.
Let's have structured folders within docs and link to those docs in README.md

Go ahead and add the folder structure and hyperlink, I will update the individual .md files.

[2020-04-17 11:11] sudevschiz commented on #88
This has been fixed as much as possible with the hardwork of the volunteers. There are still Unknowns remaining, that's because we simply don't have the data to map them correctly.

We will continue looking for it.

[2020-04-17 11:11] #88 closed

[2020-04-17 20:57] Arusara commented on #114
@sudevschiz PR is raised. please check once
https://github.com/covid19india/api/pull/132

[2020-04-18 04:37] cell91 opened #134 "Okay. Why is the DATA NOT AN ARRAY!"
Please restructer it for Arrays. Would be much easier to parse.
The District wise JSON file.

[2020-04-18 06:44] gurrrung opened #135 "States were sorted earlier with respect to confirmed cases, now they are not."
This is the order fetched from API
![Screenshot from 2020-04-18 12-13-40](https://user-images.githubusercontent.com/30543444/79630347-19f39180-816e-11ea-800a-3b64fa943dc6.png)

[2020-04-18 15:01] cibinjoseph commented on #134
Have you taken a look at the version 2 api for state-district-wise api?
The data is arranged as an array in it.

Link: [state_district_wise v2](https://api.covid19india.org/v2/state_district_wise.json)

[2020-04-18 15:04] cell91 commented on #134
Yeah sorry , checked it later, sorry

On Sat, 18 Apr, 2020, 8:32 pm Cibin Joseph, <notifications@github.com>
wrote:

[2020-04-18 16:18] onclave commented on #123
We are maintaining a timeseries dataset of statewise recoveries and death since `30/01/2020`. We are taking most of the data from here but have manually updated information prior `29/03/2020` by compiling multiple other data sources and news articles. You can check it [here](https://github.com/kalyaniuniversity/COVID-19-Datasets) if you need that data, though we are not keeping district-wise data.

[2020-04-18 20:14] osamabari commented on #135
Please assign it it me, I will work on it

[2020-04-19 02:56] #134 closed

[2020-04-19 03:01] #124 closed

[2020-04-19 03:06] sudevschiz commented on #135
@gurrrung It's advisable to handle such things at the api consumer end. Please do capture the information and sort it according to your use.
@osamabari , the API is just a bridge between the sheets and github. Let's not try to add too much processing while the data is fetched. Consumers of the API can handle such sorting issues. Thanks for your interest!

[2020-04-19 03:06] #135 closed

[2020-04-19 04:21] mukuakhilesh commented on #121
Can you elaborate what specifically is to be done and can I work on this issue. Please correct me if wrong, here we have to write a script that could collect all the data from API's and store it in the end users own google sheets.

[2020-04-19 10:39] sudevschiz commented on #121
Yes. And this just got super-easy, now that https://api.covid19india.org/csv/ is live.
We just need to prepare a quick Google Script to fetch this csv and fill it in a Google Sheet.
And then later add this to documentation

[2020-04-19 12:14] 98farhan94 opened #139 "data.json -> case_time_series is not updated"
The case_time_series has not updated since yesterday. Until yesterday, it was refreshing in real-time. What is the expected behaviour for case_time_series? I am using case_time_series from data.json and states_daily.json - both of them have not updated today.

Is statewise the way to go to keep data up to date?

[2020-04-19 12:21] sunayg commented on #121
Google script has parseCSV function to import data, which parses CSV data to an array of arrays. It is also possible to read parse JSON directly and write it to a sheets file.

Here is a script that will fetch data from the raw_data.json endpoint and write it to a google script. It can also be extended to use other endpoints. The function onOpen will create a menu item in the sheet, which can trig

[2020-04-19 14:58] vishwac09 opened #141 "Create an Express APP"
File sizes are increasing daily, amount of data downloaded per request is also huge. To improve the APP's overall performance and response time, please introduce a proper REST powered Backend.

Express is great, can stream data. Let me know if i can help in this,

[2020-04-19 17:10] kracekumar opened #142 "A date outlier"
In `raw_data.json` endpoint, there is a case where `statuschangeddate` is earlier than `dateannounced`.

The `statepatientid` is `'KL-TV-R2'`.

[code]

It looks like a data entry error since the number of days to recover should be positive(`dateannounced - statuschanged`)

[2020-04-19 17:45] mayankbhagya opened #160 "API for covid warriors data."
**Is your feature request related to a problem? Please describe.**
Govt of India has released data for corona warriors: https://covidwarriors.gov.in/default.aspx
That should be exposed as an API for devs to develop features around the same.

**Describe the solution you'd like**
Data has to be scraped and dumped in json and csv files and add to covid-api.
Verified that they don't have any APIs powe

[2020-04-19 17:55] vipulw2011 commented on #141
@vishwac09 If this request is approved, I will also like to contribute to development. I also think proper api's to be made as data is increasing.

[2020-04-19 17:56] vipulwairagade commented on #141
@vishwac09 If this request is approved, I will also like to contribute to development. I also think proper api's to be made as data is increasing.

[2020-04-20 03:56] #91 closed

[2020-04-20 04:28] ApoorvSaxena opened #143 "Feature Request : Containment Zone information across India and State wise"

[2020-04-20 04:57] nayakrahul opened #144 "7 new cases in Odisha are not unknown anymore"
5 are from Bhadrak district and 2 are from Balasore or Baleshwar district. The tweet is from Information and Public Relations Department, Govt of Odisha.

https://twitter.com/IPR_Odisha/status/1252082708785881089?s=19

Please update it.

[2020-04-20 05:20] #144 closed

[2020-04-20 12:22] sudevschiz commented on #142
Fixed at the data source. However, we are not sure when this patient was discharged. Hence making the statuschange date same as dateannounced.

[2020-04-20 12:22] #142 closed

[2020-04-20 12:24] sudevschiz commented on #139
Cases Time series and State_daily will get updated for the same day around 11:30PM. So, if you need the tentative numbers for the day, you need to add up the cases in Statewise json

[2020-04-20 12:24] #139 closed

[2020-04-20 12:27] 98farhan94 commented on #139
Got it, thanks.

[2020-04-20 13:27] sathev opened #146 "Feature Request: Add doubling rate graph"
We need to add the graph to show the doubling rate (measured in days, luckily) for the country and also state wise.
This will help in understanding the growth-degrowth pattern.

[2020-04-20 16:31] 98farhan94 opened #148 "V2: State_district_wise.json -> Maharashtra has "district": "Other States*""
The output already has a district "Unknown" for awaited results. The district titled "Other States*" seems to be a bug or perhaps is for something that's not documented. If so, please clarify the difference between Unknown and Other States.

[2020-04-20 18:02] JunaidBabu commented on #141
How do you suggest we do this? Data is increasing day by day and we are still handling the data from Google Sheets. If we are moving to and Express App, we would have to ditch the sheets? Or we'll have to maintain a UI to add data to database?

[2020-04-20 19:58] Zaraki596 commented on #109
How can we figure out form this which state tested data it has?

[2020-04-21 04:14] vishwac09 commented on #141
We can start with creating Endpoints such as /states/stateID/counts, /state/stateID/districts, /states/stateID/patients, /rawData, /totalStats etc As of now we can start reading data from these same json files and send back to Front end. So technically our main source will be the same JSON files.
If in future we are planning to move the data into SQL, we can write a small script (JS/Bash) which re

[2020-04-21 07:00] vikkyomkar opened #151 "All APIs not returning data from 20th April onwards"
All APIs not returning data from 20th April onwards.
Was anything changed?

[2020-04-21 07:03] pbteja1998 opened #152 "Use Airtable instead of sheets"
Have you explored the option to use airtable as database instead of Google Sheets?

[2020-04-21 07:24] geohacker opened #153 "Question - district level time series"
Hello everyone, thank you so much for your work on this project. It has been so helpful to track the cases across the country with your API and dashboard.

I've a question and I thought I'd post it here in case other people find it useful as well. I can see that district level json/csv is updated everyday with a delta from the previous day. Do you store the time series (or daily) similar to how th

[2020-04-21 07:39] geohacker commented on #153
I came across this https://github.com/dishamakhija/covid19-india/blob/master/src/fetch_indian_district_data_from_api.ipynb and that answers my question.

[2020-04-21 07:39] #153 closed

[2020-04-21 08:31] pushppriya commented on #151
Yeah.. I also observed the same behaviour for https://api.covid19india.org/raw_data.json and https://api.covid19india.org/data.json end points. I could not find updated data in google sheets as well.
Is there any running issue?

[2020-04-21 12:35] vasanianil commented on #151
same here, can not see new data

[2020-04-21 13:35] JunaidBabu commented on #151
raw_data.json is currently not updated. We are working on a fix. data.json should be having the latest info. could you check again?

[2020-04-21 16:44] vivek50 commented on #114
Thank you to implement this feature.

[2020-04-21 17:03] vivek50 opened #154 "Issue : Wrong Data in API"
Hello,
I'm getting the wrong data for the Gujarat state [v2/state_district_wise.json](https://api.covid19india.org/v2/state_district_wise.json) API.
May Below API help you update data in your DB.
1) POST - [https://gujcovid19.gujarat.gov.in/Home.aspx/GetDistDataForCovid](https://gujcovid19.gujarat.gov.in/Home.aspx/GetDistDataForCovid)
Header : content-type: application/json
2) POST - [https://gujc

[2020-04-21 18:44] Aniruddha-S-Prasad opened #155 "Data in raw_data API has patients with no patient number"
I'm currently using the patient number as a primary key in my SQLite database. And this problem in the raw_data.json is throwing up sqlite3.IntegrityError exceptions in my python code. Please fix

[2020-04-21 20:23] Dumpp opened #156 "City / District Name - Spelling Mistake"
Hello there,

I am not sure that this is an issue or not but I just want to highlight to you.

I found two - Incorrect or Misspelled district/city name.

1. Ahmadabad - Should be **Ahmedabad**
2. Dohad - Should be **Dahod**

_Ref: Districtwise Sheet In Google Sheets_.

I apologize to take your time If you find this an Irrelevant Issue.

[2020-04-21 20:36] bee-rickey commented on #156
Data Issue. Not a bug to be raised here.

[2020-04-21 20:36] #156 closed

[2020-04-21 20:38] bee-rickey commented on #148
This is inline with how states are reporting the cases. Unknown are when districts aren't mapped. Other states are when states categorize patients from other states.

[2020-04-21 20:38] #148 closed

[2020-04-21 20:39] bee-rickey commented on #146
Please raise this enhancement on the react repo. Closing this here.

[2020-04-21 20:39] #146 closed

[2020-04-21 20:41] bee-rickey commented on #154
Can you explain what you mean by wrong data?

[2020-04-21 20:47] bee-rickey commented on #152
Hi, is there any specific advantage that we achieve by migrating to Airtable?

[2020-04-21 20:54] bee-rickey commented on #155
Can you tell which ones are failing so that we can have look?

[2020-04-21 21:22] pbteja1998 commented on #152
@bee-rickey There are many advantages of migrating to Airtable. I will list some of these

- It's visually appealing and easy to use
- You can link between different tables and records
- You can have different views of the same table with different filters/sort criteria, different visible fields.
- You can create a form view which can add the records directly to table after filling it up and submi

[2020-04-21 21:44] pbteja1998 commented on #152
There is also a limit of 50,000 records/base

[2020-04-22 06:10] Aniruddha-S-Prasad commented on #155
Apparently the issue has been fixed. My database builder ran without any errors today.

[2020-04-22 06:10] #155 closed

[2020-04-22 06:38] vivek50 commented on #154
checkout response.
`{
"district": "Ahmadabad",
"active": 1373,
"confirmed": 1373,
"deceased": 0,
"recovered": 0,
"delta": {
"confirmed": 0,
"deceased": 0,
"recovered": 0
}
}
`
check the recovered and deceased data.

[2020-04-22 07:32] bee-rickey commented on #152
And what's the effort for migration of data? Would Airtable provide json/csv data pull? What's the limit on requests?

[2020-04-22 08:17] bee-rickey commented on #154
This is because we currently aren't capturing district level deceased and recovered.

[2020-04-22 09:36] pbteja1998 commented on #152
@bee-rickey yes, you can create a table by uploading csv. Or you can just copy and paste the entire data from sheets to airtable, it will automatically spread across the cells.

The API is limited to 5 requests per second per base. If you exceed this rate, you will receive a 429 status code and will need to wait 30 seconds before subsequent requests will succeed. But their official Javascript clie

[2020-04-22 10:32] skavinvarnan opened #158 "Like to contribute with dynamic API's"
I already have developed a website for Covid19 called https://covidstat.info very soon to be open-sourced on Github.

Currently covidstat exposed few API's which i will attach below. Likewise i would like to process https://api.covid19india.org/raw_data.json and https://api.covid19india.org/data.json and provide dynamic queries like (statewise, district wise, town wise). Also i'm planning for grap

[2020-04-22 10:52] pbteja1998 commented on #152
@bee-rickey Also checkout the following link

"Airtable is making Airtable Pro available for free to any non-political humanitarian group that has formed to work  on COVID-19 relief efforts"

https://airtable.com/shr2yzaeJmeuhbyrD

[2020-04-22 12:47] JunaidBabu commented on #151
Resolved

[2020-04-22 12:47] #151 closed

[2020-04-22 15:04] vivek50 commented on #154
Ok.
So i suggest use above api to update data of gujarat state.

[2020-04-22 16:08] JunaidBabu commented on #158
Thanks for the info. We're listing up projects depending on this repo in the Readme. Are you using the this repo to get data for your site?

Regarding the API links you provided,
1. Where are you pulling the data from?
2. Where are you hosting covidstat.info?
3. If we were to shift to your API endpoints, would it be able to handle the current load of our [dashboard](https://www.covid19india.org)?

[2020-04-22 16:56] #116 closed

[2020-04-22 17:58] sudevschiz commented on #158
Added this to projects.

[2020-04-22 18:02] sudevschiz commented on #121
Oh this is nice. I will add this to docs.

By the way, realized earlier today that `=IMPORTDATA(url)` also works :|

[2020-04-22 18:02] sudevschiz commented on #143
Do you have a datasource for this?

[2020-04-22 18:02] #154 closed

[2020-04-22 18:30] skavinvarnan commented on #158
@JunaidBabu
1. At present i'm processing the data from https://github.com/NovelCOVID/API as my website focuses only on global stats for now.
2. Hosted in Digitalocean (Bangalore Datacenter), DNS proxied through Cloudflare (Los Angeles).
3. Yes even in the current state the app can process **1000 requests per second**, the app is stateless built with microservice architecture, i can easily do horiz

[2020-04-23 01:03] #80 closed

[2020-04-23 06:02] yashwanth2804 opened #159 "Add time stamp for district wise data"
https://api.covid19india.org/v2/state_district_wise.json

[2020-04-23 09:57] bee-rickey commented on #159
What would this time stamp indicate and what's the need?

[2020-04-23 10:38] niazzzz opened #167 "Dates format is not uniform"
When i download Raw data to excel, Some of the data is in DD-MM-YYYY and some are in MM-DD-YYYY. Please arrange to organize input of dates in uniform formats.

[2020-04-23 12:03] anuragsetia commented on #158
@skavinvarnan humble request - do you mind fixing your World Map to display the correct India map - the one that's acceptable in India and does not exclude PoK from India boundaries? I can understand the reason why you have it the way you have it currently but...

[2020-04-23 13:44] skavinvarnan commented on #158
@anuragsetia i used a library to plot the map. Probably that’s how the library works, I will definitely look into it and try overriding. Thanks for your suggestions.

[2020-04-23 14:26] bee-rickey commented on #152
Will see... I think @JunaidBabu is already trying it out. If we see that it's worth the migration, then why not :)

[2020-04-23 14:28] pbteja1998 commented on #152
JFYI

@bee-rickey econsult team already got access to airtable pro.

[2020-04-23 17:47] skavinvarnan commented on #158
@JunaidBabu
Build a sample using GraphQL, going forward i will be improving this, also i will be creating REST API's, you can use it in https://www.covid19india.org/ if needed (Not at the moment, as the queries are still in alpha).

Currently i'm processing https://api.covid19india.org/data.json _(only statewise)_ and https://api.covid19india.org/state_district_wise.json. **_more to follow_**

###

[2020-04-23 18:42] lakshmi14 opened #161 "Data Mismatch between state and district wise new cases(delta) data."
Found as an error in react:
![image](https://user-images.githubusercontent.com/7721961/80137037-3f462c80-85c0-11ea-9e88-312e035af0d7.png)

Data Mismatch. It shows 5 confirmed case in Punjab and in district wise inside punjab, for Jalandar it says 6 confirmed.

URL : https://api.covid19india.org/data.json
![image](https://user-images.githubusercontent.com/7721961/80136650-a6171600-85bf-11ea-86a8-46

[2020-04-24 00:42] sudevschiz commented on #161
Good catch!
This happened because one case in Jalandhar for day before yesterday was remapped from Amritsar to Jalandhar. I will fix this at data side.

Note to self :  In such situations, need to change yesterday's value in yellow section.
@bee-rickey

[2020-04-24 02:20] gyanendrapatro commented on #160
i would be doing it in python

[2020-04-24 02:37] JunaidBabu commented on #90
An experimental setup is available here. Please share your inputs about the format and other requirements

https://github.com/covid19india/api/tree/gh-pages/cases

examples:
https://api.covid19india.org/cases/state/
https://api.covid19india.org/cases/state/KL/

https://api.covid19india.org/cases/date/
https://api.covid19india.org/cases/date/20-04-2020/

[2020-04-24 07:33] agajareiitr opened #163 "Where can I find the Latest News File"
## Here's A screenshot :

![image](https://user-images.githubusercontent.com/39427280/80186371-81f11e80-862b-11ea-857c-a123c76d4583.png)

[2020-04-24 10:12] bee-rickey commented on #161
@sudevschiz Negative deltas do not really mean an issue. Many times these happen due to states relocating patients. MP does this all the while. IMO, nothing to change.

[2020-04-24 10:21] bee-rickey commented on #163
https://api.covid19india.org/updatelog/log.json

[2020-04-24 10:21] #163 closed

[2020-04-24 11:53] sudevschiz commented on #161
Got it.
I have fixed the issue OP mentioned. So, closing.

[2020-04-24 11:53] #161 closed

[2020-04-24 11:54] sudevschiz commented on #160
Wondering is this would be available somewhere in data.gov.in portal.

[2020-04-25 05:02] DiptanilSaha opened #168 "URLs are not made available on web page"
On the webpage, api.covid19india.org, the URLs are just acting as normal text.
![image](https://user-images.githubusercontent.com/64295441/80271674-fb4a4900-86df-11ea-984a-667e0a8970f2.png)
Kindly refer to the image attached.

[2020-04-25 09:40] gurrrung opened #170 "Another project dashboard using VueJS using this project."
Code: https://github.com/gurrrung/Covid19Web
Link: https://covid19web.cfapps.io/

[2020-04-25 13:32] Abhishekbhatia opened #171 "Feature Request : District level graph for the number of cases in the past (2 weeks / 1 month)"
Good to have :

Line/Bar graph to display for the district level number of cases for all the days in a month/2 weeks.

[2020-04-25 15:30] JunaidBabu commented on #171
Please report website related issues in https://github.com/covid19india/covid19india-react

[2020-04-25 15:30] #171 closed

[2020-04-25 16:30] ret394 commented on #90
names of folders in https://github.com/covid19india/api/tree/gh-pages/cases/date a/c to ISO 8601
and use 24 hour clock for recording time, would help with parsing. keep it orthogonal to convention of popular libraries, to allow easy , hassle-free use.

and use `Apr 23 2020` like format for display to humans/ users.

thanks. have a nice day. keep up the good work.

[ret394](https://github.com/ret39

[2020-04-26 06:10] mayankbhagya commented on #160
@gyanendrapatro for a start you can publish a MxN matrix of (states, metrics) in a json along with a timestamp of when the data was scraped. In case this data changes, we can run the script again and generate another snapshot of the same data.

[2020-04-26 07:44] somnath0606 commented on #170
Yeah they using your website data.
User interface is poor.
Bugs existed in they website

[2020-04-26 08:54] JunaidBabu commented on #168
Those links are not meant to be opened in browser. Disabled hyperlinks by design.

[2020-04-26 08:54] #168 closed

[2020-04-26 09:58] #170 closed

[2020-04-26 10:10] DiptanilSaha commented on #168
I got it!

[2020-04-26 13:54] Sushanthece opened #174 "Pcr test taken"
Can we have district wise pcr test done

[2020-04-26 15:59] mdmadhu commented on #159
Building the district level data as a time-series would be most helpful. There is already a 'delta' key in the json that appears to track changes without explicitly indicating the time elapsed. To update it in a way similar to the state-wise time series is what is needed.

[2020-04-27 06:34] jishnub opened #176 "States missing in state_test_data"
In [state_test_data.json](https://api.covid19india.org/state_test_data.json) only three states/UTs show up: Andaman and Nicobar Islands, Andhra Pradesh and Arunachal Pradesh. The other states are missing. This problem suddenly occurred this morning

[2020-04-27 08:41] vivekr316 opened #177 "27th Apr states_daily.json Incorrect"
The https://api.covid19india.org/states_daily.json is repeating 26th-Apr information for 27th-Apr as well on all 3 status - confirmed, recovered and deceased.

[2020-04-27 09:32] sudevschiz commented on #177
Thanks for reporting! This was due to a trigger running earlier than expected. I have fixed it.

[2020-04-27 09:32] #177 closed

[2020-04-27 09:32] sudevschiz commented on #176
This was due to a blank row in between. Thanks for reporting. We have fixed it now! Please reopen if you are facing the issue still.

[2020-04-27 09:32] #176 closed

[2020-04-27 09:36] sudevschiz commented on #174
Currently, only few states are capturing the number of tests done in each district. Hence we are not capturing it. If you could point us to a substantial number of state bulletins that are capturing the testing information at a district level, we could get more volunteers capture the information at that level.

[2020-04-27 11:10] vivekr316 commented on #177
Thank you for the prompt response!

[2020-04-27 16:08] surabibio opened #179 "JSON object as structure of Arrays"
https://api.covid19india.org/states_daily.json is in an array of structures format that needs to be parsed and converted to a structure of Array to be given to chart tools like chart.js.

It can be presented directly as a SOA so that creating dashboard and displaying graphs would be one step easier.
e.g states_daily{
 date: [],
tt {
new:[],
deceased: [],
recovered : [],
},
mh {
new:[]
….

[2020-04-28 11:47] rahulmathews commented on #141
I can also help with developing REST powered Express API. But my suggestion is instead of using relational database as SQL, we can use MongoDb which uses the same object schema as JSON. Let me know if I can help you.....

[2020-04-29 20:12] #158 closed

[2020-04-29 20:19] skavinvarnan opened #185 "Graphql API's for covid19india"
In reference to the issue #158

Graphql API's specific for India has been created from the data provided [here](https://github.com/covid19india/api#json)

**Take a look at the detailed document here https://github.com/COVID19-SARS-CoV-2/web-covid-api/blob/master/india_apis.md**

Notes
1. Data is updated once in 3 mins
2. The current server can handle a load of 1000 requests second. In theory the s

[2020-04-29 21:56] rohitjmathew commented on #141
I can help with express API as well as MongoDB. Do reach out if you want help

[2020-04-29 22:07] parshnt opened #187 "[MAJOR] issue(s) with raw_data3.json"
I've noticed some problems with [raw_data3.json](https://api.covid19india.org/states_daily.json) :

1. In the “numcases” field, which mentions the number of cases in that district. there are negative values in some cases. (I'm genuinely confused if it's a feature or bug!)

2. According to  [raw_data3.json](https://api.covid19india.org/states_daily.json), the confirmed cases in last 3 days (27, 28

[2020-04-30 02:28] PinkyPao opened #188 "Partition add"
Prior to the partition of the raw database (26april) the sum of the cases was corresponding to what is shown in the dashboard, but now when adding the three partitions it does not match anymore.

[2020-04-30 06:19] skavinvarnan commented on #179
I guess this cannot be changed as multiple other apps will relay on this data. Instead it can be v2 just like how ```v2/state_district_wise.json``` is done.

A neat structure can look like this
[code]

V2 json's url can be link this https://api.covid19india.org/v2/states_daily.json

@ Owners, let me know if something like this OK. I can do and create a Pull Request

[2020-04-30 07:19] surabibio commented on #179
Thanks for taking up the request. However your proposed structure does not solve my request which is to minimise the frontend developer restructuring of data. Please have a look at how chart.js (or rather any graph tool) requires data.

[2020-04-30 08:46] sudevschiz commented on #188
If you're using raw_data1, 2,3 - you need to add them based on the `numcases` field.
Please check the landing page api.covid19india.org for more details.

[2020-04-30 08:46] #188 closed

[2020-04-30 09:02] sudevschiz commented on #187
-ve values are a feature. This happens when states reduce a patient from one district and (we guess, ) add to a different district. We are trying structurally capture what is happening in state bulletins.

Regarding the total cases : Did you filter only 27,28,29 AND Current Status = "Hospitalized". I am getting the 5173 (+1 because we added on case to yesterday after you posted this issue) value.

[2020-04-30 09:15] parshnt commented on #187
Thanks, I wasn't aware of the -ve values.

Regarding the total cases: Yes, I filtered only 27, 28, 29, but NOT Current Statues = "Hospitalized". I was treating it like the old API where each entry = new confirmed case.

and according to my understanding (correct me if I'm wrong) with the new API, all three (confirmed/hospitalized, deceased & recovered) are unified into one API?

[2020-04-30 09:39] jyoti291 opened #189 "Largely Inconsistent data for status of patients in Raw Json API"
**API** https://api.covid19india.org/raw_data.json

**Issue**

The API provides data of patients till 26 April.The provided result of raw data API is largely inconsistent with respect to one of the most important data i.e the current status of the patients.

- The number of deceased patients is only 52 in API data
- The number of recovered patients is only 181 in API data

**Reference** : https://

[2020-04-30 09:50] jyoti291 opened #190 "Varying Json response of the APIs"
**API**

- https://api.covid19india.org/raw_data.json
- https://api.covid19india.org/raw_data1.json
- https://api.covid19india.org/raw_data2.json
- https://api.covid19india.org/raw_data3.json

**Issue**

Many applications are using the raw data API to build COVID-19  statistical dashboards and content.The **https://api.covid19india.org/raw_data.json** (till 26 April) provides unique patient number

[2020-04-30 09:55] jyoti291 opened #191 "Collaboration with covid19india"
As an institution Srijan is actively trying to do COVID-19 related Initiative. We primarily deal with community and collaborative platforms. We are deeply interested in supporting Covid-19 initiative. We have identified a few issues with the covid19india ongoing project

- Collaboration Interface(Google Sheet)
- Platform project has fewer activity
- Patients Data APIs has been partitioned into mul

[2020-04-30 12:44] skavinvarnan commented on #179
Checked chart.js the data will look like this

[code]

As chart.js dataset is a bit weird, its better to do that last step processing in the client side

[2020-04-30 14:27] Abhishekbhatia opened #192 "API for district-wise daily count."
I have created a python script to read the raw_data file to show data of daily number of cases for a district in a state.
It will help to create a graph to show daily count of cases for a district of a state.

Frontend graph discussion link :  https://github.com/covid19india/covid19india-react/issues/1391

Screenshot for ref
![image](https://user-images.githubusercontent.com/5922112/80722190-bb8ac

[2020-04-30 16:58] surabibio commented on #179
In that case your proposed structure I am afraid has no value addition to my request.

[2020-05-01 07:25] skyprince999 opened #195 "[Query] Questions regarding changes to raw_data API (CSV/JSON)"
**Describe the bug**
CSV files available at https://api.covid19india.org/csv/ not updated.
the recent pull from the data shows the csv is updated only until 26th April

EDIT: I believe the JSON files are updated (30th April). Any reason why the csv file is not?

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://api.covid19india.org/csv/
2. Download the raw_data.csv file
3. Open t

[2020-05-01 08:23] Abhishekbhatia commented on #192
I have further enhanced the script to get the daily number of hospitalised cases from all the three raw_data files.

Below is a JSON snippet for Gujarat:

[code]

[2020-05-01 14:18] KMaheshBhat commented on #143
I did not realize there were different projects for UI and Datasource.

Source: https://www.news18.com/news/india/standalone-shops-including-those-selling-liquor-to-be-allowed-in-orange-green-zones-sources-2601535.html

Attached TXT is district-wise zones in CSV format : [20200501-india-covid-zones.txt](https://github.com/covid19india/api/files/4564660/20200501-india-covid-zones.txt)

[2020-05-01 19:43] mrinal000 opened #193 "Discrepancy in dashboad number and datasets provided!"
Why the number of cases shown in covid19india.org does not agree with the cumulative data of

https://api.covid19india.org/csv/latest/raw_data1.csv
https://api.covid19india.org/csv/latest/raw_data2.csv
https://api.covid19india.org/csv/latest/raw_data3.csv

What am I missing?

Thanks,
Mrinal

[2020-05-01 22:26] skyprince999 commented on #193
had raised a similar concern -

https://github.com/covid19india/covid19india-react/issues/1680

[2020-05-02 00:23] sudevschiz commented on #187
Yes. In raw_data3, confirmed, deceased and recovered all entered in the same sheet.

[2020-05-02 00:28] sudevschiz commented on #193
I have added more context in the landing page of api.covid19india.org/csv
Please do have a look and for more discussions, use this thread : https://github.com/covid19india/api/issues/195

Thank you.

[2020-05-02 00:28] #193 closed

[2020-05-02 00:30] sudevschiz commented on #189
raw_data.json is just a concatenation of raw_data1 and raw_data2. Please do refer to the details provided at https://api.covid19india.org/csv/

Also, another discussion along the same line is happening in https://github.com/covid19india/api/issues/195. If you have further questions, please do ask there.
Thanks for using the data!

[2020-05-02 00:30] #189 closed

[2020-05-02 00:33] sudevschiz commented on #195
Did a deep dive, in the new file (raw_data3.csv) you have stopped adding individual case counts. Instead a new column Num Cases has been added.
So for calculating for new cases for states per day, I have to take the following steps

remove Deceased and Recovered rows [ this is from column Current Status]
sum up the Num Cases. group by state name & date

You have to do one more step in raw_data1 an

[2020-05-02 00:39] sudevschiz commented on #192
This is great! Would love look further into the process that you used. However, using the raw_data for this calculation might not bode well as district information was not so available before. Now we have `https://api.covid19india.org/v2/state_district_wise.json` giving the live status of districts. That could possibly be snapshot, to create this daily time series?

Even then, we have to remap the

[2020-05-02 00:49] sudevschiz commented on #190
The data curation process is changing rapidly to adapt to new scenarios. Hence the change in structure in raw_data3. We suggest using the aggregate APIs provided for any live application. That will have more stability because our website itself is using those endpoints.

We will try to wrangle all the files together and provide it in the format of raw_data3 soon. However, there would be mismatches

[2020-05-02 00:49] #190 closed

[2020-05-02 01:09] sudevschiz commented on #187
Closing this issue. If there are more questions regarding the format of raw_data3. Please use this thread : https://github.com/covid19india/api/issues/195

[2020-05-02 01:09] #187 closed

[2020-05-02 01:32] sudevschiz commented on #167
I have preset the format condition. Not sure if this is still a problem.

[2020-05-02 01:33] sudevschiz commented on #25
Added more details in api.covid19india.org and api.covid19india.org/csv
Things are still too dynamic to prepare detailed API documentation for each endpoint. Will continue working on this regard

[2020-05-02 05:23] skyprince999 commented on #195
@sudevschiz
How can I help? Using python script I have concatenated all the three files. Should I make a pull request on that?
Also, should this issue be moved to the /api repo?

[2020-05-02 10:44] parshnt commented on #187
Thanks a lot!
It all makes sense now!

[2020-05-02 11:40] bee-rickey commented on #185
Awesome! Looks like a good one. Where is the server hosted?

[2020-05-02 12:49] sudevschiz commented on #195
Oh nice. Could you point me to your fork? There are lot more considerations. I can have a look at it and then comment?

[2020-05-02 13:54] skyprince999 commented on #195
Its a python notebook. Added it to my branch. have a look.

https://github.com/skyprince999/api/blob/master/notebook-for-data-wrangling.ipynb

[2020-05-02 14:44] #174 closed

[2020-05-02 15:03] JunaidBabu commented on #152
This is under discussion. Closing this issue.

[2020-05-02 15:03] #152 closed

[2020-05-02 15:05] bee-rickey commented on #191
@jyoti291 Hi! This is interesting. Is the code open source? We have kept everything open for everyone to view so we would like it to continue that way :). Also, some of the things pointed out by you as issues are actually choices we've made to reduce complexity and maintenance for data updates. Thanks for this initiative :)

[2020-05-02 15:06] skavinvarnan commented on #185
Thanks 😀. Its hosted in Digital Ocean (Bangalore Datacenter)

[2020-05-02 15:06] JunaidBabu commented on #143
http://api.covid19india.org/zones.json

[2020-05-02 15:06] #143 closed

[2020-05-02 15:22] niazzzz commented on #167
It seem to work fine now.
thank you

On Sat, May 2, 2020 at 7:02 AM Sudev <notifications@github.com> wrote:

[2020-05-02 15:30] JunaidBabu commented on #141
We were able to make modifications in the Sheets data structure to handle the huge amount of data. For now this is holding well for the main [site](https://www.covid19indai.org).

Another issue with pivoting to a separate framework is that, there are continuous changes in the data formats we receive from the bulletins. This would require high maintenance on the Express or other frameworks.

Closin

[2020-05-02 15:30] #141 closed

[2020-05-02 16:08] piyush-repo commented on #179
@skavinvarnan Better to add the aggregation at the API level and which can be consumed directly but in order to utilize the same API better to have a flag based on which backend can take the decision to send the aggregated response or verbose one.

@surabibio Does that make sense and moreover cost is the only factor which will decide on which side we need to do the desired operation.

[2020-05-02 18:02] vntkumar8 commented on #192
@Abhishekbhatia  can you share the script, It will help us

[2020-05-03 05:48] gurrrung opened #197 "api inconsistency in `statename` in national data and resources data"
In https://api.covid19india.org/data.json, states with `and` in their name are written like `Jammu and Kashmir`, `Andaman and Nicobar Islands`.
Whereas in https://api.covid19india.org/resources/resources.json, states with `and` in their name are written like `Jammu & Kashmir`, `Andaman & Nicobar Islands`.

[2020-05-03 06:38] ff171217 commented on #197
The total number of cases for west bengal has been updated today as 922 but the increase in the number of total cases from yesterday which is 127 has not been added to the national total. Also the number of discharged in the state has not been added to the national total. Requesting you to update the national total

[2020-05-03 06:44] ff171217 opened #198 "National total not updated properly. Increase in number of west bengal not added."
The increase in the number of total cases in west bengal from yesterday which is 127 has not been added to the national total. Although the total cases for west bengal is being shown as 922 whereas yesterday it was 795. The same is true for the number of discharged persons. Please update the national figures.

[2020-05-03 06:51] gurrrung commented on #197
This can be a new issue.

[2020-05-03 07:38] bee-rickey commented on #198
Hi can you clarify which national total is it not added to? It's already part of the 39k total across the country.

[2020-05-03 07:53] alphasingh commented on #197
A similar issue was mentioned already before as well.
#29 Sheet maintenance issue
How can this be avoided in future? @JunaidBabu

[2020-05-03 09:38] ff171217 commented on #198
No it is not. Yesterday the final tally of total infected cases pan India stood at 39829. Today till 3pm 190 more cases have been reported from Rajasthan..60 Andhra Pradesh..58. Karnataka..5 Bihar..1 Haryana..45 Odisha..2 Ladakh..19 ..there is no addition of the increase in number of cases from west bengal from yesterday till today which is 127... It was 795 yesterday then numbers increased to 922

[2020-05-03 09:40] ff171217 commented on #198
#
![Screenshot_2020-05-03-12-25-56-74](https://user-images.githubusercontent.com/64362506/80910880-30920f00-8d50-11ea-93c0-2cf61dd84c8d.jpg)
![Screenshot_2020-05-03-14-58-19-60](https://user-images.githubusercontent.com/64362506/80910882-325bd280-8d50-11ea-9ef5-a11b49d79aee.jpg)
![Screenshot_2020-05-03-14-57-47-09](https://user-images.githubusercontent.com/64362506/80910883-32f46900-8d50-11ea-8e2a

[2020-05-03 09:45] ff171217 commented on #198
I can now see that you had updated the figures of west bengal post midnight yesterday. I had informed your organization through my comment section yesterday.So my query has been resolved. Thanks for responding

[2020-05-03 09:45] #198 closed

[2020-05-03 10:01] sudevschiz commented on #197
We did a district name correction task in the past two days. Hence the mismatch. I will pass on the new spellings to the Essentials team to map too.

@alphasingh saw your other issues regarding S.A.S Nagar being expanded etc. Is that a compulsory edit. It takes a lot of work to fix the district names across multiple places. If it's not critical, I would like to leave this alternate spelling as is.

[2020-05-03 11:43] surabibio commented on #179
Kavin has well understood my request, but finds that structure 'weird'. His proposed structure for R2 is a lot more organised for a human, but still not beneficial for a macine My request is solely for computational efficiently,

[2020-05-03 12:00] harshit741 opened #199 "I would suggest changing name of "Gautam Buddha Nagar" to "Gautam Buddh Nagar" as it is according to google maps data."
I used geocoding to return location and than tally them to your api data, many things didnt worked out well. One of which is this issue, geocoding returned Gautam Buddh Nagar but the api has Gautam Buddha Nagar. I had to write seperate rule for that.

[2020-05-03 12:35] Abhishekbhatia commented on #192
@sudevschiz : I looked at the API results for https://api.covid19india.org/v2/state_district_wise.json.
The only shortcoming is that there are no date fields/keys in this api results. It only gives the district wise total count of cases without any dates.
If we are only going to be dependent on this API results for the date-wise district-wise results then we may have to store this data in the DB d

[2020-05-03 13:02] sudevschiz commented on #199
District names were fetched from here http://districts.nic.in/districts.php?sid=UP and then later corrected by some volunteers from UP. Let's retain it that way.
Good job with the separate rule :)

[2020-05-03 13:06] harshit741 commented on #199
I think I should raise similar issue to Google Maps to return data according to district.nic.in 😂

[2020-05-03 13:14] Abhishekbhatia commented on #192
@JunaidBabu @sudevschiz

I am not able to add the scripts in the codebase. I have created a different branch! Attached is a screenshot of the error.

![image](https://user-images.githubusercontent.com/5922112/80915162-018a9600-8d6e-11ea-9db9-3b3527e70f82.png)

[2020-05-03 14:10] sopanlavhale commented on #90
we can use startTime and endTime and updateDate? it is good for me if I am contributing to this project.

[2020-05-03 14:52] sopanlavhale commented on #25
can we configuration swagger-UI for APIs? I can configuration setup if you guys want.

[2020-05-03 15:15] alphasingh commented on #197
@sudevschiz the data being reflected on the maps should have the same "key" name, only then will it reflect its data. So, yes the fix is critical in the sense that even after having all the data in the API, we're not showing it on the web due to this.

**Suggestion**:
Both web and API key names for each district/state should exist in a single place, like a common enum that is being used by both, t

[2020-05-03 20:01] bee-rickey commented on #199
@harshit741 That might be a good idea :P Given that the Indian govt data remains stagnant for the longest of times ;)

[2020-05-03 20:04] bee-rickey commented on #197
@alphasingh I think @sudevschiz's question about compulsory edit was for SAS Nagar. We will make sure they are consistent across the website and the data sheet and essentials. But should SAS Nagar be expanded is the question.

[2020-05-03 22:25] #199 closed

[2020-05-03 22:28] sudevschiz commented on #192
Have your created a fork of the repository to your own github space?
You have to push the changes to that repo and then make a Pull Request to this original repo. We will review it and then merge it.

[2020-05-03 22:31] JunaidBabu commented on #90
Adding `on hold` until raw_data v1, v2, v3 are merged.

[2020-05-03 23:36] JunaidBabu commented on #185
@skavinvarnan which all endpoints of api.covid19india.org are you using to update your database?

[2020-05-04 01:15] sureshpal opened #201 "Tested data is not available from 20th of April to 23thrd of April"
Tested data is not available from 20th of April to 23thrd of April .
Please have a look ..

Please find the attachment.
![Screenshot_2020-05-04-06-31-56-033_com android chrome](https://user-images.githubusercontent.com/8362713/80930692-c5d5e780-8dd2-11ea-909a-12ac9c5b0302.jpg)

[2020-05-04 01:42] sudevschiz commented on #201
This is because ICMR did not publish the information on those dates.

[2020-05-04 01:43] sudevschiz commented on #197
I have passed on the new district list to the essentials team. It will get edited everywhere soon.

[2020-05-04 01:44] #167 closed

[2020-05-04 02:09] skavinvarnan commented on #185
These 4 jsons
[code]

[2020-05-04 07:43] Abhishekbhatia commented on #192
Thanks @sudevschiz :

Created a pull request : https://github.com/covid19india/api/pull/202

[2020-05-04 08:12] alphasingh commented on #197
@bee-rickey As long as every state and district is being maintained with the same "key" name everywhere, I don't think we need to put an extra effort for SAS nagar alone.
Let's keep it **as it is** everywhere, as of now, because I can see it with "key" name as ```S.A.S. Nagar``` on https://www.covid19india.org/state/PB and it reflects the same data as it should, i.e. from the API where it has the

[2020-05-04 11:00] bee-rickey commented on #197
Got it. Thanks!

[2020-05-04 11:06] cpkabra opened #203 "Csv file is not having data upto date"
Hi Team,
You mentoned that csv file is available in this pattern and this url is having live data but i have looked at it and it is having data till 26 April.
api.covid19india.org/csv/latest/raw_data.csv

[2020-05-04 11:34] sudevschiz commented on #203
Could you have a look at this page and see if it clears your questions?
https://api.covid19india.org/csv/

[2020-05-04 11:34] #201 closed

[2020-05-04 12:30] ff171217 opened #204 "Chief Secretary of West Bengal declares revised and updated numbers of covid patients in state"
The chief secretary of west bengal has just now declared in press meeting that total number of covid cases in west bengal is 1259 and total active cases is 908.
Please keep an eye on the state bulletin this evening and update figures.

[2020-05-04 12:47] sudevschiz commented on #204
Yep. Noticed the same. Will keep an eye out for the bulletin and update accordingly!
You can reach us through the form here for queries like this : https://forms.gle/XLFc6LhVEUtE25Pz6

Thank you!

[2020-05-04 12:47] #204 closed

[2020-05-04 14:34] jyoti291 commented on #191
@bee-rickey : This application is build for open source community.The code is not public but we can make it public if you want to have a look on it.We would like you to view the system and if you find it useful, you can use it to maintain the patient's data in the application itself.Let me know if you have any inputs on the same.

[2020-05-05 05:14] cpkabra commented on #203
Hi Sudevschiz,

Yup this link helped me. Thanks for sharing

[2020-05-05 05:14] #203 closed

[2020-05-08 04:03] sudevschiz commented on #160
@gyanendrapatro
Is this data being updated regularly by MOHFW? Could you confirm that first? Is it's static, it may not be useful. If it's quite dynamic - we should capture this information as it will help in doing capacity analysis across states.

[2020-05-08 04:11] #185 closed

[2020-05-08 08:28] siddhpant commented on #159
+1

[2020-05-08 08:33] siddhpant opened #218 "Use number plate abbreviations for state code"
It is not the case for:
- Uttarakhand (uses UT instead of UK),
- Chhattisgarh (uses CT instead of CG),
- Telangana (uses TG instead of TS), and
- Dadra and Nagar Haveli and Daman and Diu (uses DN instead of DD)

Also, the DD abbreviation is redundantly associated with Daman and Diu despite the merger of Union territories being reflected.

[2020-05-08 15:22] tsganesan opened #220 "Mortality statistics"
I am new to this game. I am a doctor and will be giving a lecture on COVID19. I cannot find anywhere data on mortality pan India and statewise according to age. There is a suggestion more younger people are getting infected and the mortality is less compared to the West. I am sure oen of you may have access to this data and if not can it be created.
Thanks
Ganesh

[2020-05-09 17:25] siddharthsrivastava opened #223 "Completing case wise data"
While analysing the patient jsons, I noticed that the gender information is missing from a majority of the cases. For example, till  26 April 27891 cases were there containing gender information for 5313 cases only.

Is it possible to make the data complete, so that it will also help the data scientists and the people using it via Kaggle.

[2020-05-09 17:56] ff171217 opened #224 "Anomaly regarding cases in Delhi"
The numbers for total cases in delhi is not matching with national data. Also cases for delhi not updated till now.

[2020-05-10 07:01] atharvaunde59 opened #225 "Data missing from Maharashtra 27th April Onward"
No New cases in Maharashtra since 27th April? is database corrupted ?

![image](https://user-images.githubusercontent.com/19168610/81492958-f7aaea80-92b9-11ea-818a-e8a868c08689.png)

[2020-05-10 13:38] bee-rickey commented on #225
This was an issue during the maintenance of the back end sheets. This is fixed now.

[2020-05-10 13:38] #225 closed

[2020-05-10 13:39] bee-rickey commented on #224
As of now, we are matching with the bulletins.

[2020-05-10 13:39] #224 closed

[2020-05-10 13:40] bee-rickey commented on #223
This is purely based on the info provided by the state bulletins. Nothing much we can do in this unfortunately.

[2020-05-10 13:40] #223 closed

[2020-05-11 03:33] ashishdixit108 opened #226 "Total active count for Farrukhabad district in Uttar Pradesh state is not up to date"
Till 10 May 2020 there are 2 total cases in Farrukhabad district in Uttar Pradesh state but api is returning only 1 case

[2020-05-11 06:02] rojohyd opened #227 "Telangana latest data"
This is the official site for Telangana Covid details http://124.124.103.93/COVID/home.htm
There was a ticker initially which shows the latest confirmed/active/deaths and samples tested
This is being hidden with a CSS style, but the data is still available and updated frequently(<hour, almost latest )
This can be used to update the latest data
I've extracted this info in a separate site which basi

[2020-05-11 09:03] Shiba-Kar opened #228 "Admin can you list my android project as it is using this api."
[This is the link](https://github.com/Shiba-Kar/covid-19_tracker)

[2020-05-11 17:55] bee-rickey commented on #226
Fixed. Thank you for letting us know.

[2020-05-11 17:55] #226 closed

[2020-05-12 07:24] ims-devops-practice commented on #218
Changing now will break many existing applications which are already dependent on the current abbreviation.

[2020-05-12 07:25] arghyadeep-k commented on #218
Changing now will break many existing applications which are already dependent on the current abbreviation.

[2020-05-12 08:19] siddhpant commented on #218
Oh okay, understandable.

Though, hard-coding abbreviations instead of full state name when it is available is anyways a bad practice.

[2020-05-12 08:19] aswaathb opened #231 "Add geocoded resources.json"

[2020-05-12 08:26] gouenji-shuuya commented on #228
Is it required for the project to be open-sourced to be listed here?

[2020-05-12 08:42] nileshbandhiya opened #232 "Add district AMRELI in Gujarat"
Kindly add district Amreli in Gujarat state. Currently dashbaord not showing said district in Gujarat state. Although there is no active case currently, but it will be nice if you will add the district.

Thanks you are doing a grate job...

[2020-05-12 09:31] arghyadeep-k commented on #218
If that's the case, ids shouldn't be used anywhere. Full names are present almost always but still we need an unique identifier.

[2020-05-12 16:08] JunaidBabu commented on #231
Could you please elaborate?

[2020-05-13 03:12] sudevschiz commented on #232
This is done now. We are displaying all the districts, even if there are no cases there.

[2020-05-13 03:12] #232 closed

[2020-05-13 03:18] sudevschiz commented on #231
I'm working with @aswaathb to provide geocoded feature object for each row in essentials. This is for the location based nearby essentials feature. @aswaathb already has a python script to get the data in the format he needs it. https://github.com/aswaathb/covid19india-react/blob/publish/newResources/src/geocoder.py

Resulting json would look like this :
[code]

He will be updating that script fur

[2020-05-13 03:29] sudevschiz commented on #220
Hi doc,

Agewise information regarding the deceased patients is rarely released by the state governments in their reports. Will soon try to provide you a single excel file which has age and deceased column, from which you can figure out the mortality for age range, based on whatever data is available.

CC @bee-rickey

[2020-05-13 03:32] sudevschiz commented on #218
State Codes are based on this ISO standard :  https://en.wikipedia.org/wiki/ISO_3166-2:IN and not based on the Motor Vehicle Department codes.

Case of DD & DNH is very recent and it was decided to use DN state code.

[2020-05-13 03:32] tsganesan commented on #220
Thanks very much for doing this.
Best wishes,
Ganesh

On Wed, 13 May 2020 at 08:59, Sudev <notifications@github.com> wrote:

--
Dr. T.S.Ganesan MD, MNAMS, Ph.D (Lon) FRCP
Professor Medical Oncology
Cancer Institute (WIA)
38 Sardar Patel Road
Chennai 600036
Mobile 8754555099
e-mail tsganesan@gmail.com;

[2020-05-13 08:55] nileshbandhiya commented on #232
Thanks. One more suggestion:  While clicking on some State (like Gujarat), it shows "other state" figure. I cannot understand it. If it is not necessary, kindly remove it if possible.

[2020-05-13 13:46] siddhpant commented on #218
Alright

[2020-05-13 13:46] #218 closed

[2020-05-15 17:13] acharan91 opened #239 "Incorrect: mismatch in active cases"
![2E7BBDA1-9252-4CD2-9773-D2B1D2E7FA9F](https://user-images.githubusercontent.com/65415204/82077699-7a3e0a80-96fd-11ea-8903-5d724f2a6ecd.jpeg)

[2020-05-15 17:16] acharan91 commented on #239
Count of active cases in Hyderabad is 572
and total active cases in Telangana is 461

[2020-05-15 18:43] sudevschiz commented on #239
Could you sum up the -372 in Unknown active cases too?

[2020-05-15 18:43] #239 closed

[2020-05-16 11:48] aswaathb commented on #231
Thanks for the explaination @sudevschiz, I tried to delete the issue after we spoke and about this.

@JunaidBabu, #240 has the revised script

[2020-05-16 13:42] shubhams2m opened #241 "-2 active cases in Buldhana District (Maharashtra)"
I just downloaded district wise CSV from https://api.covid19india.org/csv/latest/district_wise.csv. And it has -2 active cases in Buldhana District of Maharashtra (District_Key - MH_Buldhana).

[2020-05-17 08:25] pratikdk opened #242 "'totaltested' count for prior date greater than posterior date for 'State Level : Testing data'"
I was trying to plot state level **daily testing count** by retrieving using 'State Level : Testing data'. But observed a discrepancy in the **'totaltested'** count where its prior count is greater than post which shouldn't be the case right (total should always increase), For example: If I retrieve and plot for Maharashtra, this is what I observed.

![state_level_negative](https://user-images.git

[2020-05-17 08:52] sudevschiz commented on #241
This was because MH govt. dashboard was reporting the same way. Looks like this is fixed now on the website and the csv should reflect the same in the latest version. Please check.

[2020-05-17 08:53] sudevschiz commented on #242
Yep. This happened because the MH bulletin reported a lower count than previous day in their bulletin. We are not sure why it happened, just reflecting the information that was present in the bulletin

[2020-05-17 09:59] bee-rickey commented on #241
Can't do much about these since this data is from the state dashboards. Closing this for now.

[2020-05-17 09:59] #241 closed

[2020-05-17 10:00] bee-rickey commented on #242
Closing the bug as this is not a bug on the coding/data side. A bug with the state govt. Can't assign to them :(

[2020-05-17 10:00] #242 closed

[2020-05-17 19:51] Manik-Jain opened #247 "Python script to create a single JSON dump for total cases and tests conducted till date"
This Python script aims to create and download a JSON based report that helps to:

1. Map each raw value to the respective State and district level at each date
2. the total states cases for each district on that date
3. total cases for any state till date
4. Covid tests conducted for each state on all dates
5. total cases in the country till date

State : {
 District1: {
          Date 1 : {

[2020-05-18 14:35] rohitxsh93 opened #251 "Thanks for approving the commit but the change is not visible, I think there is some issue!"
Thanks for approving the commit but the change is not visible, I think there is some issue!

_Originally posted by @rohitxsh93 in https://github.com/covid19india/api/pull/243#issuecomment-630223050_

[2020-05-19 12:02] bee-rickey commented on #251
Hi could you please raise the PR on the master again? It was wrongly merged into the gh-pages and hence it's not visible. Thank you!

[2020-05-19 12:09] rohitxsh93 commented on #251
Done

[2020-05-19 13:08] bee-rickey commented on #251
Done.

[2020-05-19 20:26] aman7797 opened #263 "Doc : Need to correct the COVID-19 Dashboard India Hyperlink"
![image](https://user-images.githubusercontent.com/30632204/82374204-54d23900-9a3c-11ea-9494-7500ad40e549.png)

[2020-05-20 00:30] satejsoman opened #265 "Docs: update the CSV listing to indicate raw_data4.csv is available"
The json API description mentions raw_data4.json, but the corresponding table in the CSV documentation hasn't been updated yet. Happy to submit a PR to do this - just following contribution guidelines and filing an issue first.

[2020-05-20 11:35] CHINMAY6656 commented on #263
[](url)
![covidss](https://user-images.githubusercontent.com/40867159/82441760-09f80600-9abc-11ea-9eec-daa14b8a3207.png)
is this how it should be ???

[2020-05-20 12:04] sudevschiz commented on #265
Hi, Thanks for reporting. I made the change myself as there was some detail required in updating the same.

Looking forward to your other contributions.

[2020-05-20 12:04] #265 closed

[2020-05-20 12:07] sudevschiz commented on #263
Fixed this. Thanks for reporting.

[2020-05-20 12:07] #263 closed

[2020-05-20 12:07] #251 closed

[2020-05-20 12:08] sudevschiz commented on #227
Thanks for highlighting this source. Sadly, we can't credibly use and report this information as it's a hidden element in a website.

[2020-05-20 12:08] #227 closed

[2020-05-20 12:11] sudevschiz commented on #191
@jyoti291 I had a quick look at the website link you provided. Great job!

However, our data update process is just too dynamic to be relied upon an external software. We make do with the functionality of Google sheets and around it. For now, it has to remain that way, so that we can adapt to change scenarios. Thanks for reaching out.

[2020-05-20 12:11] #191 closed

[2020-05-20 12:11] sudevschiz commented on #231
Done and dusted. 👍

[2020-05-20 12:11] #231 closed

[2020-05-20 12:12] sudevschiz commented on #228
Not required to be opensourced. However, please do mention this repo as a source somewhere in this page. @Shiba-Kar you can make a PR updating the README and I will add it to the page. Thank you.

[2020-05-20 12:14] sudevschiz commented on #160
This data is not rich, unique or recent enough to be included in this API. Anybody who needs it can capture those values from the website directly. Hence, closing.

[2020-05-20 12:14] #160 closed

[2020-05-20 14:19] sudevschiz opened #268 "Check if resource folder exists in tmp. If not, create it"
Upon fresh run, resources folder maynot be present in tmp folder. So this folder should be created, if not existing.

[2020-05-20 15:27] frank-chris opened #269 "Small error in state_wise_daily.csv"
In the state_wise_daily.csv file, the entry for **MP** for **16-Mar-20, Confirmed (Row 8)** is empty. Not a major issue, try to fix if possible.

[2020-05-20 16:44] sudevschiz commented on #269
Is it from the `/latest/` endpoint?

[2020-05-20 19:55] satejsoman commented on #265
Thanks!

[2020-05-20 21:50] FrenziedWarrior opened #270 "API for daily changes in zones per district"
Looking for a change in zones per district data for company project. Data is getting updated everyday. Any way to see historical changes in zones?

[2020-05-21 04:32] sudevschiz commented on #270
We are not maintaining the historical zone information of districts in our Google Sheet, so it's not possible to provide information that way.

If it's crucial for your work, you should be able to loop through the previous commits of zone.json in the gh-pages and see how the changes happened. Word of advise : Zone data is not updated by governments religiously, so it's not really a great source of

[2020-05-21 04:32] #270 closed

[2020-05-21 07:01] tsganesan commented on #220
Do we have some data collated on the mortality?
Thanks
Ganesh

[2020-05-21 07:42] ankitbar opened #273 "Negative numbers for daily active cases, daily # tests etc"
West Bengal data:
![image](https://user-images.githubusercontent.com/10872542/82535316-5434c200-9b64-11ea-8263-a75257e4d0e2.png)
Some more aggregates for other states:
![image](https://user-images.githubusercontent.com/10872542/82535578-ac6bc400-9b64-11ea-9fac-05d81e81deaa.png)

[2020-05-22 03:06] sudevschiz commented on #273
When number of recoveries are more than confirmed cases, that means the cases reduced for that day. So daily change in active is negative.

Daily test data is negative because states reported a lower value for total tests compared to yesterday reported in bulletin. This is an error from the state reporting side. We are reflecting the information they provided.

[2020-05-22 03:08] sudevschiz commented on #228
Have you already made a PR and is it merged now? If that's the case. Please close this issue.  @Shiba-Kar

[2020-05-22 03:12] #228 closed

[2020-05-22 12:11] iamnishanth commented on #273
dailyActive = dailyConfirmed - dailyRecovery - dailyDeaths.
So when dailyRecovery or dailyDeaths is greater than dailyConfirmed thats why the negative value.

[2020-05-23 15:22] frank-chris commented on #269
Yeah, I suppose. This is the link of the file: [https://api.covid19india.org/csv/latest/state_wise_daily.csv](https://api.covid19india.org/csv/latest/state_wise_daily.csv)

[2020-05-23 20:34] hanishkvc opened #286 "states_daily_csv info missing in csv section of api"
Hi,

Even thou states_daily_to_csv generates csv files like
http://api.covid19india.org/states_daily_csv/confirmed.csv.

This api which was originally mentioned in the api's csv section seems missing now. Please update the same. I have even verified this because my code

https://github.com/hanishkvc/prgs-health-covid19-analtoolkit

uses this api to generate covid india related plots.

[2020-05-24 03:44] prateek297 opened #288 "Update hotspot zones using new list released by Central Government"

[2020-05-24 09:11] VHKA1729 opened #289 "Incorrect Entries in state_wise_daily.csv"
Link: https://api.covid19india.org/csv/latest/state_wise_daily.csv

The latest data (last 4 rows) is corrupted. All the entries have a value of 0 and there is no date.

![image](https://user-images.githubusercontent.com/60542389/82750266-8fd1c500-9dcc-11ea-94d8-9118390231b4.png)

[2020-05-24 12:38] ninjakx opened #290 "Some of the rows has combined UT names:"
https://api.rootnet.in/covid19-in/unofficial/covid19india.org/statewise/history
This arises for may data ->   from "day": "2020-05-06", These cases are appeared.
Case1 (combined UT + Daman and Diu separate entity)
[code]

Case2: (combined UT but no Daman and Diu)

[2020-05-24 23:57] sudevschiz commented on #290
As DNH & DD have become a single UT, we have combined them in our api. API that you mentioned is a derived version of the original API. Please do contact the maintainer of the API https://twitter.com/amodm?lang=en if you have further queries.

[2020-05-24 23:57] #290 closed

[2020-05-25 00:00] sudevschiz commented on #289
This was a temporary measure done while we were switching to a new raw data sheet. This has been fixed now.

[2020-05-25 00:00] #289 closed

[2020-05-25 00:00] sudevschiz commented on #288
Could you share the this new list?

[2020-05-25 00:12] sudevschiz commented on #269
Just noticed. It's actually a zero value. I have added 0 now. Please reopen if you find that the error persists.

[2020-05-25 00:12] #269 closed

[2020-05-25 00:22] #273 closed

[2020-05-25 05:49] prateek297 commented on #288
Can't find the new list anywhere

[2020-05-25 05:49] prateek297 commented on #288
I'll update if i find one.

[2020-05-26 18:09] keshavashiya opened #297 "Introduction about used technologies"
Please explain about used technologies to create this API, like where this API is hosted and how anyone can develop this type of API.

[2020-05-27 07:02] frank-chris commented on #269
Yes, it's correct now. Thanks!

[2020-05-27 19:18] FrenziedWarrior commented on #288
Just an inquiry, are all state governments maintaining a list of Red, Orange, Green zones at a district level or have they started declaring more granular level zones within a district?

I am trying to create a time-series for changes in zones at a district level since this classification started.

[2020-05-29 05:52] prateek297 commented on #288
Yes. They are maintaining a list of "contaminated zone" within the district but there's no list present which has all this data in one place. You can check website of every state ( if they have one ) or reach out to any of your friends in that state.

[2020-05-29 05:54] prateek297 commented on #288
I am from Jharkhand. We do not have any red zones now. Previously we have one "ranchi", my home town but now it's removed from the updated list. But we do have one contaminated zone here "hindpiri".

[2020-05-29 09:52] FrenziedWarrior commented on #297
I would like to be assigned this task. I will go through the codebase and follow up with questions. Thanks, if no one else is working on this.

[2020-05-30 03:51] ashishdixit108 opened #312 "Query about api"
Hi ,
Are these APIs open source ? Can I use them in my project ?

[2020-05-30 10:03] DoubleGremlin181 opened #314 "Repeated row for tested_numbers_icmr_data in CSV files table"
The row for "tested_numbers_icmr_data" is repeated in the table [here](https://api.covid19india.org/csv/). The contents and links are exactly the same in both the entires as seen here:

![covid19india_issue](https://user-images.githubusercontent.com/22704006/83325581-d458d700-a28a-11ea-8173-af70c0cc7c3b.PNG)

[2020-05-31 10:18] bee-rickey commented on #312
Yes

[2020-05-31 10:18] #312 closed

[2020-05-31 12:20] sudevschiz commented on #314
Fixed it. Thanks for reporting!

[2020-05-31 12:20] #314 closed

[2020-06-04 01:15] sudevschiz commented on #288
As hotspots are not published by central government and the containment zones published by states are not in a good shape, we won't be progressing on this activity.

[2020-06-04 01:15] #288 closed

[2020-06-04 01:17] sudevschiz commented on #286
![image](https://user-images.githubusercontent.com/4298868/83704238-8823e300-a64c-11ea-9d4e-dccaec8fffcf.png)
Looks like this is present. Please reopen if you were referring to something else.

[2020-06-04 01:17] #286 closed

[2020-06-04 09:49] anuragsetia commented on #220
@tsganesan if you are seeking state wise mortality, I have published a chart basis these APIs in [my site](https://www.setia.in/covid19/state-statistics/)

[2020-06-04 14:05] tsganesan commented on #220
Dear Anurag,
Thanks. I wanted to know for example details of mortality of all patients
say in one state for example Tamil Nadu to look at factors that predict for
death. Statewise comparisons are not required although informative.
Thanks
Ganesh

On Thu, 4 Jun 2020 at 15:19, Anurag Setia <notifications@github.com> wrote:

--
Dr. T.S.Ganesan MD, MNAMS, Ph.D (Lon) FRCP
Professor Medical Oncology
Canc

[2020-06-05 18:36] omkar1610 opened #330 "Inconsistency in the data base files through API"
Total data available in all the 6 json files combined is 78k only.
for eg 3rd json file is having 10k entries. It should have at least 30-35k.
Can some one explain me, how to get the rest data?

![image](https://user-images.githubusercontent.com/30653006/83911383-c8d54680-a789-11ea-956a-3da4b1edabca.png)

[2020-06-06 04:18] FrenziedWarrior commented on #270
Thank you so much. I was able to grab the required from the gh-pages branch. And you're right about the zone data. It has become extremely hard to track these. If I had more time, I would sit and compile a state-wise database, but it changes really quick.

[2020-06-07 05:01] KMuthusamyms opened #333 "contradiction in state_test_data.json"
In State_test_data.json, there are contradictions in the number of negative, positive, and total tested.
Data in the API is different from the source which has mentioned.

`{
			"coronaenquirycalls": "",
			"cumulativepeopleinquarantine": "",
			"negative": "550643",
			"numcallsstatehelpline": "",
			"numicubeds": "",
			"numisolationbeds": "",
			"numventilators": "",
			"populationncp2019projec

[2020-06-07 11:17] IamManchanda opened #335 "Web: Wrong Data Showing up on covid19india.org"
I think 6 June & 7 June both days data showing up or something like that

<img width="564" alt="Screenshot 2020-06-07 at 4 44 54 PM" src="https://user-images.githubusercontent.com/4970624/83967377-65106200-a8de-11ea-9ab0-ba59c6ab338d.png">

[2020-06-07 11:19] IamManchanda commented on #335
I think the positive and negative of covid19india.org is some data bug ... thanks

Also attaching worldometers data (which takes Indian data from you) for cross-checking

<img width="1308" alt="Screenshot 2020-06-07 at 4 48 06 PM" src="https://user-images.githubusercontent.com/4970624/83967430-d7814200-a8de-11ea-86be-44b124d59a04.png">

[2020-06-07 15:35] IamManchanda commented on #335
Thanks working now https://twitter.com/covid19indiaorg/status/1269600727921352705

Closing this!

<img width="611" alt="Screenshot 2020-06-07 at 9 04 14 PM" src="https://user-images.githubusercontent.com/4970624/83973214-7a978300-a902-11ea-93eb-8e564046a5e8.png">

[2020-06-07 15:35] #335 closed

[2020-06-08 05:47] sudevschiz commented on #333
Isn't this in line with what was mentioned in the bulletin?
![image](https://user-images.githubusercontent.com/4298868/83996361-e9262080-a996-11ea-999d-d4bacf961357.png)

Not sure why the discrepancy. Will forward to the necessary team

[2020-06-08 07:08] KMuthusamyms commented on #333
Okay @sudevschiz
Thank you for your reply.

[2020-06-09 13:04] nayakrahul opened #341 "Convert unknown to NDRF/ODRF in Odisha district table"
https://twitter.com/IPR_Odisha/status/1270213039132864517?s=19

[2020-06-09 16:36] gouenji-shuuya opened #343 "Telangana test count data not updated"
The latest test data is from 16 May

[2020-06-09 20:09] #341 closed

[2020-06-11 13:29] gurrrung opened #344 "`totaltested` on latest update is empty for some states"
`totaltested` of latest date to fetch the total tests conducted in a state. But now it is empty for some stats like Punjab, Haryana.

https://api.covid19india.org/state_test_data.json
Check `"updatedon": "12/06/2020"`.

[2020-06-11 22:37] parshnt opened #345 "[API] Real-time MoHFW Scraper"
I've developed an API that scrapes data from [MoHFW](https://www.mohfw.gov.in/) and serves the data on a JSON endpoint. The data is scraped and served in real-time.

- Deployed on Cloudflare Workers
- Under 2ms response time
- can serve up to 100k requests/day

**API**

https://mohfw.covid19in.workers.dev/

@JunaidBabu, Please let me know if I can add this to README document under Alternate API's

[2020-06-12 19:57] aosaslam opened #346 "Data is inconsistent with the State Bulletin"
Firstly huge thanks to you all.
As said in the site, the data is sourced from official sources. A tiny concern here is please validate it before/after uploading it, as the numbers don't match. Please find the screenshot below and compare it the data being displayed.

Also, if you could provide a screen for uploading queries/corrections/suggestions on the portal itself you could reach out to more p

[2020-06-14 14:36] sickster opened #350 "Chief cking"

[2020-06-14 15:50] AyushChothe opened #351 "I Have Created a GraphQL Port of API v2"
You can Test it Here and I hope you include it in your API list.

https://cv19gql.vercel.app/graphql

[2020-06-15 16:56] #350 closed

[2020-06-15 17:03] sudevschiz commented on #346
This is the data for Telangana in the site for June 12th. Could you tell us where the error is?
![image](https://user-images.githubusercontent.com/4298868/84685599-84aa2900-af75-11ea-8533-819198ec1f23.png)

[2020-06-15 17:05] sudevschiz commented on #345
Scope of the alternate API is to list the endpoints that represents the same that we have collected in the Google Sheet in a different way or through a different tech.

MoHFW API is irrelevant in this case. Thanks you!

[2020-06-15 17:05] #345 closed

[2020-06-15 17:07] sudevschiz commented on #344
Checked for Punjab for 12/06/2020, looks good now. Could've been a temporary miss.

However, please don't expect testing data to be available for all states on all days. Some days, the states doesn't report it.

[2020-06-15 17:07] #344 closed

[2020-06-15 17:08] sudevschiz commented on #343
We know right!

The state has not been releasing this data since then. If you find **official** press releases that is reporting this data after that date, please let us know by re-opening this issue.

[2020-06-15 17:08] #343 closed

[2020-06-15 17:08] sudevschiz commented on #333
Closing.

[2020-06-15 17:08] #333 closed

[2020-06-15 17:10] sudevschiz commented on #330
Please read https://api.covid19india.org/csv/#notes carefully.

You need to consider the field `num_cases` to get the number of cases each row of data represents.

[2020-06-15 17:14] sudevschiz commented on #220
@tsganesan if you can programmatically or manually sift through the Notes section against "deceased" cases in our raw_data, you might find the limited information we have captured from the state bulletins - whenever it reports details of death and comorbidity information. This is especially available for Karnataka entries.

Not sure if it would be useful for your study. I feel that best bet could

[2020-06-15 19:19] #346 closed

[2020-06-15 19:20] #330 closed

[2020-06-16 18:32] keshavashiya commented on #297
It's small description about how this project is started and how server is managing through Github Actions.

https://blog.covid19india.org/2020/06/11/struggle/

[2020-06-18 08:11] AnuragAnalog opened #356 "Shapefiles for Indian states"
Can I know from where did you get the Indian states shapefiles?

[2020-06-19 04:34] JunaidBabu commented on #356
Some of the volunteers developed it. You can find all the data here
https://github.com/covid19india/covid19india-react/tree/master/public/maps

[2020-06-19 06:46] ars75 commented on #25
I actually actively contributed to the early maintenance of the README file, but let me know if I can help again

[2020-06-19 06:47] ars75 commented on #25
I was also responsible for the v2 JSON APIs, so I'd love to document it if need be

[2020-06-19 07:52] AnuragAnalog commented on #356
Thank You

[2020-06-19 07:52] #356 closed

[2020-06-19 11:47] asdofindia opened #357 "Consider releasing data under CC-BY-SA license"
Currently it is unclear what license the data is released under. The existence of a public API means that the team wants others to use the data. But not knowing what license the data comes in makes it difficult for others to use the same.

I suggest that the license under which the dataset is released be documented clearly.

I would say use CC-BY-SA, but there are other possible licenses documente

[2020-06-19 12:45] asdofindia commented on #357
Regarding the GPL license, https://asd.learnlearn.in/gpl-api-output/

[2020-06-19 18:07] sudevschiz commented on #357
@asdofindia Thanks for raising this issue. Yes, we have been pondering over the correct licensing format for the data. The link you shared should be helpful.

cc @triedcatched

[2020-06-20 16:05] Ayush-Walia opened #359 "Getting negative data in districtwise"
Some values are showing -ve data, in
https://api.covid19india.org/state_district_wise.json https://api.covid19india.org/v2/state_district_wise.json

Ex:
{
        "district": "Unknown",
        "notes": "",
        "active": -1159,
        "confirmed": 1179,
        "deceased": 4,
        "recovered": 2331,
        "delta": {
          "confirmed": 0,
          "deceased": 0,
          "recovered"

[2020-06-21 10:21] aberrantdoc opened #362 "v3 timeseries api link is not working"
The api at the following link is showing a 404 error.
https://api.covid19india.org/v3/data-%7BYYYY-MM-DD%7D.json

![image](https://user-images.githubusercontent.com/63073968/85222212-10d5a980-b3d7-11ea-93a4-0c092a4503fc.png)

[2020-06-21 11:06] naveenpf commented on #357
Open Data Commons Open Database License
https://opendatacommons.org/licenses/odbl/index.html

[2020-06-21 16:11] JunaidBabu commented on #362
Try something like https://api.covid19india.org/v3/data-2020-06-20.json

[2020-06-21 19:09] aberrantdoc commented on #362
Oh didnt realise there is a separate json for each day. Thank you.

[2020-06-21 19:09] #362 closed

[2020-06-21 19:50] VJ1224 opened #364 "Inconsistent usage of keys"
In some of the .json files, the number of deaths are stored under the deceased key whereas others use the death key. For example:

This is from https://api.covid19india.org/data.json:
{
			"active": "6296",
			"confirmed": "27317",
			"deaths": "1664",
			"deltaconfirmed": "580",
			"deltadeaths": "25",
			"deltarecovered": "655",
			"lastupdatedtime": "21/06/2020 20:25:15",
			"migratedother": "0

[2020-06-21 19:55] VJ1224 commented on #364
#

[2020-06-21 19:55] #364 closed

[2020-06-22 13:38] nayakrahul opened #366 "Data not consistent with state bulletin for districts of Odisha"
![Screenshot (88)](https://user-images.githubusercontent.com/11428805/85293815-7e5b0600-b4bb-11ea-80e6-d2362e55dcaf.png)
![Screenshot (89)](https://user-images.githubusercontent.com/11428805/85293844-887d0480-b4bb-11ea-972c-35c7ba47f98f.png)
https://health.odisha.gov.in/covid19-dashboard.html

As you can see that overall count is correct but count for khordha, cuttack districts are not matching. K

[2020-06-22 13:43] nayakrahul commented on #366
I think the Other section has been adjusted.

[2020-06-23 12:47] #366 closed

[2020-06-25 12:30] sudevschiz commented on #359
This means that **know** that there are 10 recovery in some unknown districts, and 1 unknown district confirmed case. The active is negative here because only then the total active for the state would look correct.

[2020-06-25 12:31] sudevschiz commented on #351
Couldn't get the link to work. If you would like to highlight the project in the list of projects, please do make a PR after editing the apt md file in the repo.

[2020-06-25 15:57] #359 closed

[2020-06-26 09:11] kanaujiasachin commented on #143
What is the frequency of updates for the Zones data?

[2020-06-28 12:59] gurrrung opened #373 "isn't this \n in `phonenumber` unnecessary?"
API: https://api.covid19india.org/resources/resources.json

![Screenshot from 2020-06-28 18-28-28](https://user-images.githubusercontent.com/30543444/85948217-37fb2080-b96d-11ea-8857-7926afb203c8.png)

[2020-06-29 01:51] john2014 opened #376 "Per date count is not been updated"
In https://api.covid19india.org/v3/data-all.json it has data for date June 28.

However if you goto per date url, https://api.covid19india.org/v3/data-2020-06-28.json, it gives a 404 error.

It seems both sources are not been updated at the same time. You can also later verify this issue on next day (June 29) data.

[2020-06-29 01:55] john2014 opened #377 "Seperate file for population count"
Currently the population count for each state/district is embeded with the various data.json file.

It would be more efficient if you move the population data into a separate json file.

This will (a) reduce data.json file size (b) give a direct url from where population data can be retrieved anytime (without having to download a huge file). (c) It would also be easier you to update the population

[2020-06-29 05:18] JunaidBabu commented on #377
Population info is available here:
https://api.covid19india.org/misc.json

[2020-06-29 07:41] shuklaayush commented on #376
This might have been a temporary issue related to GitHub serving. Whatever's there in data-all is split and dumped for each date at the time

[2020-06-29 07:52] shuklaayush commented on #377
@john2014 So keeping it all monolithic was a design decision that we took. Makes it easier for us to manage things on the website. Though I agree it has added a lot of redundancy, especially to the data-all.json. With the date-specific ones, I don't think it's that big an issue.

As @JunaidBabu mentioned, there's also a separate API if you just want the population data. All this data is pulled fro

[2020-06-29 15:53] john2014 commented on #377
Thank you for letting me know about misc.json file. Few suggestions:

1. Could you add link to misc.json in the main github page (where all links are posted).
2. The names in misc.json do not always match the name in data.json (misc.json has ''Mumbai Suburban' whereas data.json has "Mumbai"). Could we make sure they are exact match.
3. Regarding the monolith decision: people can easily pull two di

[2020-06-29 17:41] #376 closed

[2020-06-29 18:06] shuklaayush commented on #377
So Mumbai and Mumbai Suburban are actually two different districts. The state government doesn't release numbers for Mumbai Suburban separately, so its entry is missing from data.json. And we don't have population data for 'Mumbai' district, so its entry is missing from misc.json. It's a weird scenario. Anyways, the chances of district names not matching in the APIs are pretty low, so if the distr

[2020-06-29 18:23] john2014 commented on #377
1. Is https://api.covid19india.org/v3/data.json (linked from github) same as https://api.covid19india.org/v3/min/data.min.json (not linked from github)?

2. District level test data: I only see tested value. Is that same as total tests performed? Also does any district have separate data for total tested positive, total tests negative, and  tests pending ?

3. In https://api.covid19india.org/state

[2020-07-01 01:49] john2014 commented on #377
I forgot to ask: Do you also have case breakdown by age, gender, etc.

[2020-07-01 02:57] ashokrupana opened #379 "Date format error in data on covid19 statewise_tested_numbers_data.csv"
Date format error in data on covid19 statewise_tested_numbers_data.csv as for many rows date and months are swapped its is showing incorrect date. it is may be because people are using different format when submitting the data i.e. dd/mm/yyyy instead of mm/dd/yyyy.

[2020-07-01 03:27] john2014 commented on #376
Same issue is happening every day. The June 30 data already appears in /v3/data-all.json.

However /v3/data-2020-06-30.json still gives a 404 error. It seems this file takes around 5-6 hours to update.

Could you please look into why there is a huge delay in updating daily data json file?

Currently the only option to get daily data is is to download the entire /v3/data-all.json file which is huge

[2020-07-01 06:33] shuklaayush commented on #376
Looking at https://github.com/covid19india/api/commit/cee12112a6a28c734f3627492eb7cfd815e94fca, seems like a new date entry in `v3/data-all.json` and a new date file `v3/data-2020-06-30.json` are created at the same time. I'm not really sure what else to look at.

Just to be clear, the data for the last day available is stored in `v3/data.json`, while the data for previous days is kept as `v3/data

[2020-07-01 06:41] shuklaayush commented on #377
1. Yep. `v3/min/*.min.json` are the minified versions of `v3/*.json`. Not sure what you mean by 'linked from GitHub', but everything on [this branch](https://github.com/covid19india/api/tree/gh-pages ) is what is there on api.covid19india.org
2. So there's a lot of nuance which is lost when creating the v3 APIs. For most districts, it is the total samples tested (probably the same as total tests p

[2020-07-01 06:47] shuklaayush commented on #379
Can you give examples of specific entries?. [Here's](https://github.com/covid19india/api/blob/gh-pages/csv/latest/statewise_tested_numbers_data.csv) the file

[2020-07-02 12:58] Karthikb777 opened #380 "I have created a Karnataka specific site."
I have created a react site for Karnataka state using covid19india APIs. Here is the site: https://karthikb777.github.io/covid19karnataka/

Here is the repo: https://github.com/Karthikb777/covid19karnataka

[2020-07-04 09:13] AnkitGoyal430 opened #381 "Testing data missing from data-all.json"
I have noticed testing data to be missing for some states from data-all response from https://api.covid19india.org/v3/data-all.json

This is mostly for states for which district level info on testing is available, total testing info has been removed. Is there some change in formats in data-all?
Even on state dashboard "https://www.covid19india.org/state/MH" it now does not show testing info proper

[2020-07-04 09:35] shuklaayush commented on #381
Seems to be there for me. Can you give a more specific example?
![image](https://user-images.githubusercontent.com/27727946/86509707-90b43880-be07-11ea-8485-ebbab4be8180.png)
![image](https://user-images.githubusercontent.com/27727946/86509727-a75a8f80-be07-11ea-919f-38486002f72b.png)

[2020-07-04 10:37] AnkitGoyal430 commented on #381
Its seem to be fixed now :|.
In the morning i was not getting the data for Maharashtra, among other states.
Even on state dashboard page("https://www.covid19india.org/state/MH") no of tests were showing to be 0 for all days in graph.

[2020-07-04 11:07] #381 closed

[2020-07-04 11:08] shuklaayush commented on #381
Might've been a temporary issue

[2020-07-04 18:36] john2014 opened #382 "Bug in district test data"
Here are following bugs in district test data file:

1. In this link https://github.com/covid19india/api/tree/gh-pages, there are three similar files: (a) district_test_data.json (b) district_testing.json and (c) district_testing_data.json

Which one is the correct one? Also why are there three files with same data?

2. Currently only district_testing_data.json  is been updated daily. The other tw

[2020-07-04 18:41] john2014 opened #383 "States Daily confirmed value is inaccurate"
The values in this file https://github.com/covid19india/api/blob/gh-pages/states_daily_csv/confirmed.csv is not accurate.

If you scroll down to last row, and see total, it says 22718.

This means total confirmed cases for all states is only 22,718. This confirmed value is not accurate.

[2020-07-04 19:35] shuklaayush commented on #383
It's that particular dates' all-India confirmed count (number of new cases added today). Like for today right now
![image](https://user-images.githubusercontent.com/27727946/86519731-612f1b80-be5b-11ea-9c57-a257927bcba6.png)

[2020-07-04 19:35] #383 closed

[2020-07-05 17:22] sudevschiz commented on #382
Thanks for notifying. @JunaidBabu can we do a cleanup and do a force push?

[2020-07-06 04:09] john2014 opened #384 "Different files have different values for confirmed cases"
Daily File: If you look at file https://api.covid19india.org/v3/data-2020-07-04.json, the confirmed cases for Maharashtra state is 200064 for July 4

State test data: If you look at file https://api.covid19india.org/state_test_data.json, for date July 4, the confirmed cases for Maharashtra is 203816.

Expected: Both of these files should have same values.

[2020-07-06 04:12] john2014 opened #385 "Older files are been updated frequently"
If you look at the folder: https://github.com/covid19india/api/tree/gh-pages/v3, the last updated date for most files is around 10 hours ago. These older files should not be updated.

If you look at history for July 29 file, https://github.com/covid19india/api/commits/gh-pages/v3/data-2020-06-29.json, you would see that it been updated a lot of times.

[2020-07-07 15:28] sudevschiz commented on #385
@shuklaayush  We make corrections for previous dates when new information is available regarding some case. But is the code logic updating all the files in every run?

[2020-07-07 15:30] sudevschiz commented on #384
No, such parity is not expected. Cases data is collected from the bulletin and the testing data is collected from MEDD report. Depending on when the release the bulletin and what is the daily cut-off that is considered, the numbers would differ. Information of positives in test data is collected as-is present in the testing related press release.

[2020-07-07 15:31] sudevschiz commented on #373
Yes, this was necessary to display in the website. However, not we have deprecated the resources tab and this json won't be updated further.

[2020-07-07 15:31] #373 closed

[2020-07-07 15:33] sudevschiz commented on #377
3. ICU related information is rarely present in any of the bulletins. If it is available, it's being captured. However, it's unreliable and scanty.
4. No
5. No

[2020-07-07 15:42] #377 closed

[2020-07-07 15:48] shuklaayush commented on #384
Just to add, the testing data reports the number of postive **samples** and not people. It's anyone's guess as to whether that's an important distinction

[2020-07-08 07:48] Abhinav1101 opened #387 "API not showing correct data"
https://api.covid19india.org/state_district_wise.json  This api is showing 'delta' for almost all district to be 0 but certainly this is not the case. What is the issue ? Look for it.

[2020-07-08 16:23] sudevschiz commented on #387
delta represents the new cases for today. As bulletins are released in the evening through night, the delta values will get populated.

[2020-07-09 00:18] john2014 opened #388 "Population data incorrect"
The population of many region in file https://api.covid19india.org/misc.json is incorrect.

Example: It says mumbai has a population of only 3.14 million. But it is around 18.41 million. What is the source of data?

[2020-07-09 00:26] john2014 commented on #384
So when the data says total cases confirmed, does it actually mean total samples confirmed? Hence this is definitely an important distinction.

PS: Few months back I read that two samples are collected per person.

[2020-07-09 02:22] shuklaayush commented on #384
Nope, I think when it comes to Confirmed/Recovered/Deceased counts, the data is reported in terms of the number of people. The positive samples data is only present in the state test data/district test data files, and at least not used anywhere in the v3 APIs

[2020-07-09 02:30] shuklaayush commented on #388
At least for Mumbai, it's not exactly incorrect. The population of Mumbai **district** is ~3 million. The issue is that the numbers reported by the Maharashtra State Government probably include the whole Mumbai Metropolitan area, and not just the Mumbai district. Will take a call on how to fix these inconsistencies.

Also, substantiate your claim by more than one example when you say that the popu

[2020-07-09 04:02] john2014 commented on #388
Here are the regions where differences of more than 90,000. I have compared the value in misc.json file with values from google search and some more authoritative websites (including wikipedia).

Country_State_District: Value in misc.json -- value per google search -- difference
----------------------------------------------------------------------------------------------
India_Chandigarh: 1,179,0

[2020-07-09 04:39] yashwanthm opened #389 "Can we consider plasma donor crowdsourced data?"

[2020-07-09 04:40] yashwanthm commented on #389
https://www.facebook.com/groups/3367782049933301/

[2020-07-09 05:03] shuklaayush commented on #388
For the states, population projection from [this](https://nhm.gov.in/New_Updates_2018/Report_Population_Projection_2019.pdf) GoI report has been used since 2011 Census numbers are a bit outdated. Since there's no analogous report for districts, Census 2011 figures have been used (taken from Wikipedia). As for the rest of the mismatches, I think you're mixing up populations of districts and cities

[2020-07-09 07:41] feast0101 opened #390 "A search engine based on your APIs indexing daily covid-19 related data"
Hi Team,

First of all, I would like to appreciate your effort for providing accurate data about covid-19 situation in India on real time basis. Considering India's widely diversified source and formats it's really a herculean task by any measure.
I am a software engineer by profession and thought to contribute to your effort in my own way.
Here are details:

I have created a search engine based o

[2020-07-09 15:32] themonk911 commented on #357
+1 we're looking at using this data in open-covid-19 (https://github.com/open-covid-19/data), but cannot do so until the licensing is clear.

[2020-07-09 15:56] Abhinav1101 commented on #387
Okay thanks, but with this api there is one issue that it is taking so long to fetch data in spite of having good internet connection. Can you tell me what may be the reason? Is it because data is large or any other issue.

[2020-07-09 19:27] #388 closed

[2020-07-09 19:28] #384 closed

[2020-07-10 02:59] naveenpf commented on #357
@themonk911 some #opendata govt of India is releasing.
https://data.gov.in/major-indicator/covid-19-india-data-source-mohfw

[2020-07-10 09:32] bee-rickey commented on #387
@Abhinav1101 works fine here. Not sure what the issue is with fetching.

[2020-07-10 09:37] themonk911 commented on #357
Thanks @naveenpf, unfortunately it doesn't look like they provide historical data. Do you know if any other source provides historical data?

[2020-07-10 11:01] naveenpf commented on #357
@themonk911 Wikidata https://www.wikidata.org/wiki/Wikidata:WikiProject_India/COVID-19_task_force

[2020-07-10 19:18] themonk911 commented on #357
Thanks @naveenpf, that's really useful :)

[2020-07-11 10:20] sudevschiz commented on #357
I have split the License of the repository into two - one for code and one for the data. Both are listed separately in two different files.
https://github.com/covid19india/api/blob/master/LICENSE_DATA
https://github.com/covid19india/api/blob/master/LICENSE_CODE

Shifted from GPL3.0 to MIT for the codebase to make things more permissive. Will send out a communication regarding this in the dev group

[2020-07-11 16:18] #379 closed

[2020-07-11 20:55] sudevschiz commented on #390
Hey interesting work! Unsure what is the use-case of the search engine. Please do share.
Nonetheless, great effort.

[2020-07-11 20:56] sudevschiz commented on #389
We had thought about this and some external team has been working on this problem. Right now, we have no plans of picking up such a project.

[2020-07-11 20:56] #389 closed

[2020-07-11 21:00] sudevschiz commented on #380
Thanks for using the data. Earlier we used to add derivative projects in our README. However, we have stopped the process as we couldn't do justice to all the work.
Closing this issue as there is no more action here. Thank you.

[2020-07-11 21:00] #380 closed

[2020-07-11 21:00] #351 closed

[2020-07-11 21:01] #220 closed

[2020-07-11 21:01] sudevschiz commented on #197
Resources data has now been deprecated. Closing this issue as it is irrelavant.

[2020-07-11 21:01] #197 closed

[2020-07-11 21:02] #123 closed

[2020-07-11 21:02] sudevschiz commented on #63
@shuklaayush Should this be added using the new parser?

[2020-07-11 21:06] shuklaayush commented on #63
I don't see the utility of adding it to the parser, unless we add it to the website as well. The parser should only contain info that is displayed somewhere on the website.

[2020-07-12 05:05] #63 closed

[2020-07-12 05:05] #357 closed

[2020-07-12 09:11] jobyj0101 opened #392 "Data issue: Invalid character '+' in state_test_data.json"
In state_test_data.json, there is an entry with "negative": "1210+". Could you please remove the + from it.

Problem entry:
"state": "Andaman and Nicobar Islands"
"updatedon": "17/04/2020"
"negative": "1210+"

Thanks,

[2020-07-12 10:38] sudevschiz commented on #392
Thanks for reporting. It was an inadvertent error. Have fixed it now.

[2020-07-12 10:38] #392 closed

[2020-07-12 11:33] parshnt opened #393 "[Broken CSV] District Time-series"
Hi @JunaidBabu

with the latest commit, you seemed to have removed the daily CSV files for the Districts.
I have a project that used those CSV files for district-wise data time-series. Can you point to any alternative?

Thanks

[2020-07-12 11:43] themonk911 commented on #357
Thanks so much!

[2020-07-12 12:56] JunaidBabu commented on #393
Hi @parshnt

Sorry about this. The district daily csv we had so far was created by taking snapshots at midnight for each day. This method was wrong because when we had made any change in a previous date that would not be reflected in the csv files.

You can use the [v3](https://github.com/covid19india/api/tree/gh-pages/v3) or [v4](https://github.com/covid19india/api/tree/gh-pages/v4) version of th

[2020-07-12 15:23] parshnt commented on #393
Sure, I'll look into it.
But we won't be seeing any CSV version of the same?

[2020-07-12 17:31] feast0101 commented on #390
**Use Case 1:** One single API with uniform format instead of 8 different datasets being served by 8 separate API endpoints.
Also because of the Solr/Lucene platform, it brings on the table some of the advanced search related features like:

- Advanced full-text search capability
- Sorting, Filitering, Ordering
- Faceted search
- Inbuilt spelling check
- Performance improvement as it is ideal for

[2020-07-12 21:17] shuklaayush commented on #393
@parshnt I added [this](https://github.com/covid19india/api/blob/gh-pages/csv/latest/districts.csv) just now. See if it's useful

[2020-07-13 01:19] vasthav2k commented on #393
district wise json isn't updated yet

[2020-07-13 03:25] parshnt commented on #393
@shuklaayush
Thanks a lot, I was exactly looking for this.

[2020-07-13 03:26] JunaidBabu commented on #393
Hi @vasthav2k

district_daily.json was generated using the daily snapshots of districts csv files. Since we removed them because they had inaccuracies, it's not possible to update districts_daily.json anymore.

Could you please use the v3 or v4 versions for json or the csv mentioned in the above comments?

[2020-07-13 05:42] #393 closed

[2020-07-13 23:09] vasthav2k commented on #393
@JunaidBabu

Yes, thanks a lot.
I can work with CSV file.

[2020-07-14 03:02] PinkyPao opened #394 "Total values in new update"
Hello everyone,

I used to work with your data since March creating the day cumulative cases total, by adding the "Num Cases" variable for each csv. However, on the last update of 12 July 2020 the sum of num cases is no longer reflecting the reality of the total number of cases and the documentation is not clear. Can you please help me with this?

Thanks in advance

[2020-07-15 13:03] bee-rickey commented on #394
@PinkyPao can you please provide an example?

[2020-07-15 15:45] Sudhak84 opened #396 "districts_daily.Json file data update issue"
Data is updated only till 12th Jul 2020. Please check. I have checked it on 15th Jul 2020.

https://api.covid19india.org/districts_daily.json

[2020-07-15 19:06] Nitromon opened #397 "Feature: District specific graphs. (Need Data)"
Currently the site has graphs for data per state, but the issue is that there is wide disparity between state and district infection rates. Two districts in the same state can be at different stages of infection spread. I feel a comparative graph of active cases could be charted out for atleast the Tier 1 cities. (Mum, Del, Hyd, Blr, etc) since there is high population density the people could see

[2020-07-15 19:19] Nitromon commented on #397
Found the concerned csv file and working on making the graphs myself. Marking as closed as it was a non-issue.

[2020-07-15 19:19] #397 closed

[2020-07-15 21:28] #387 closed

[2020-07-15 22:45] PinkyPao commented on #394
I think I figured out the problem. This link: https://api.covid19india.org/csv/latest/raw_data.csv used to provide information from partitions 1 and 2 (from January to April 26th)- as stated by the documents. But now, somehow it has from other dates. When you changed the information in this link, so it changed the counts.

Thanks!

[2020-07-16 01:15] sudevschiz commented on #394
Hi,
Please don't use the raw_data.csv. It's not officially supported right now. We are working on making a singular raw_data that would fix lot of format inconsistencies across sheets. Will publish it once it's verified to be correct.

Outright, try not to use raw_data if you are looking for aggregated numbers. Use the files data in v4/ folder of gh-pages branch for that.

If you need to do patien

[2020-07-16 01:15] #394 closed

[2020-07-16 21:46] aravindpanil commented on #396
districts_daily stopped generating data after 12th July. However, the page was still available until yesterday. Now it just gives a **404**. Did something change?

[2020-07-16 23:50] vasthav2k opened #398 "Telangana District Wise Data Missing"
Hi @JunaidBabu , @shuklaayush
In the latest updates [districts.csv](https://github.com/covid19india/api/blob/gh-pages/csv/latest/districts.csv) Some of the states data is missing(Telangana Data)
Please look into the issue

[2020-07-17 10:31] parshnt opened #399 "[Feature Addition] District coordinates"
Hi,

can we add Latitude & Longitude field with the district_list.csv file, it'll help users in plotting the cases, etc.
I've made a [CSV](https://parshnt.me/district-geocodes-IN/coordinates.csv) from geoPy that can be used for this.

Thanks

[2020-07-17 12:05] parshnt commented on #399
update: Here is the [code](https://github.com/parshnt/district-geocodes-IN/blob/master/source.ipynb) I used to get the lats & long for the district.

You can integrate this into the parser to merge the coordinates into the latest district list.

thanks

[2020-07-17 15:05] JunaidBabu commented on #398
This is because Telangana is not providing any district-wise data.

[2020-07-17 15:16] JunaidBabu commented on #396
Kindly refer to the discussion in #393

[2020-07-17 16:11] vasthav2k commented on #398
Hi @JunaidBabu
Yes,you are correct they are not providing exact recoveries and deaths for every district.

But isn't it possible to just update
Confirmed cases as done earlier until now..?

Thanks in Advance

[2020-07-17 16:44] KrishnaTejaJ commented on #398
Although, the entire data is not available, status of new positive cases is being tweeted by [Eatala Rajender](https://twitter.com/Eatala_Rajender). Can you please make efforts in updating this data. Thank you!

[2020-07-17 17:59] sudevschiz commented on #398
We used to maintain the district information for Telengana just because daily new cases are being reported in the bulletin as @KrishnaTejaJ  mentioned. But for a long time, there has not been a full update on how many cumulative cases, recoveries and deaths are there in each of these districts. We cannot continue speculating the total numbers without this anchor. Several analysts posted incorrect

[2020-07-18 11:39] VinitSawant09 opened #400 "MIssing file: districts_daily.json"
![Capture](https://user-images.githubusercontent.com/55744016/87851866-650e7380-c91a-11ea-8b15-abbf36a59406.PNG)
Can someone update why the district wise daily file is missing and not accessible ?

Thanks.

[2020-07-18 13:46] bee-rickey commented on #398
@vasthav2k @KrishnaTejaJ The biggest problem is what Dave said about not having enough clarity for data. Even with the district data given per day, there's enough older data without district information. Having data only for confirmed but not for others makes it difficult to maintain. As of now we have taken a call on not showing any district details for certain states that are not providing enoug

[2020-07-18 13:46] #398 closed

[2020-07-18 13:49] bee-rickey commented on #400
Please refer to this discussion:  #393

[2020-07-18 13:49] #400 closed

[2020-07-18 13:49] #396 closed

[2020-07-18 18:35] VinitSawant09 commented on #393
I had raised an issue earlier regarding the districts_daily.json file missing. As per the above comments in the v4 version I was able to find data on individual states like for example : timeseries-MH.json. I am trying to access the json through AJAX call but its throwing CORS error.

[2020-07-19 06:48] JunaidBabu commented on #399
A very detailed map of India is available here
 https://github.com/covid19india/covid19india-react/tree/master/public/maps

[2020-07-19 13:00] parshnt commented on #399
Thanks a lot, will surely check this out.
But, my specific use case requires the use of lats & longs, hence the issue.

[2020-07-19 13:00] #399 closed

[2020-07-22 11:23] MillikenDB1 commented on #398
Try looking for district Hyderabad. It use to work. Now it does not

[2020-07-22 11:25] MillikenDB1 commented on #398
Name changed in data on 12 June

[2020-07-23 14:08] feast0101 commented on #390
For demo purpose, I have deployed the search engine on Google Cloud :

**Dashboard Link:**
https://covidservice-axuikumjgq-uc.a.run.app/solr/#/covid19/query)

**Total Number of Recovered Cases (stats. stats_fields. numcases.sum)**
https://covidservice-axuikumjgq-uc.a.run.app/solr/covid19/select?fq=currentstatus%20%3A%20%22Recovered%22&q=*%3A*&rows=0&stats.field=numcases&stats=true

**Total Number

[2020-07-23 14:19] feast0101 commented on #90
Hi, I have created a search engine based on your APIs indexing daily covid-19 related data.
Please refer to issue: https://github.com/covid19india/api/issues/390

For demo purpose, I have deployed the search engine on Google Cloud:
**Ex: Query for raw data entered on 22nd July:**
https://covidservice-axuikumjgq-uc.a.run.app/solr/covid19/select?fq=dateannounced%3A%2222%2F07%2F2020%22&q=*%3A*

[2020-07-24 03:34] KrishnaTejaJ opened #402 "Data of India not updated"
Can you please look into https://api.covid19india.org/data.json and see that the data for India is updated, precisely the data for 23-07-2020 is not updated.

[2020-07-24 05:18] JunaidBabu commented on #402
Should be updated now.

[2020-07-24 05:31] KrishnaTejaJ commented on #402
Yeah, thanks!

[2020-07-24 05:31] #402 closed

[2020-07-24 17:22] tobymammen opened #403 "flaw in https://api.covid19india.org/csv/latest/district_wise.csv"
Hi,

There is apparently a flaw in the above mentioned file.

The data related to Andamans and Nicobar Islands has been unchanged since at least 1st July. The numbers are the same since. When crosschecked with other district level datafiles, this discrepancy was noticed.

Hope this will be checked and rectified at the earliest.

Regards

[2020-07-24 18:49] JunaidBabu commented on #159
District wise daily data is now available in v3 and v4 end points. Kindly use that for further analysis.

[2020-07-24 18:49] #159 closed

[2020-07-24 18:49] sudevschiz commented on #403
Andaman Nicobar Islands do not provide districtwise case details. We used to capture it till July 1st with whatever information we could gather from local media and tweets. However, as the case numbers increased and we did not have an anchor on how many cases are present in each district, we have stopped updating the district numbers for AN Islands.

[2020-07-24 18:58] #25 closed

[2020-07-24 18:59] JunaidBabu commented on #90
This is available in v4 end points now.

[2020-07-24 18:59] #90 closed

[2020-07-24 19:03] JunaidBabu commented on #179
v3 and v4 end points should cover most of the requirements.  Closing this issue.
If there is any specific requirement on new data format, please reopen this issue.

[2020-07-24 19:03] #179 closed

[2020-07-24 19:07] JunaidBabu commented on #195
This is already taken care using internal scripts. The new json and csv files should have updated information.

[2020-07-24 19:07] #195 closed

[2020-07-24 19:08] JunaidBabu commented on #121
Closing as irrelevant!

[2020-07-24 19:08] #121 closed

[2020-07-24 19:09] JunaidBabu commented on #382
Removed outdated testing data files.
Kept only district_testing_data.json in gh-pages.

[2020-07-24 19:09] #382 closed

[2020-07-24 19:10] JunaidBabu commented on #192
#202

[2020-07-24 19:10] #192 closed

[2020-07-24 19:10] JunaidBabu commented on #268
Became irrelevant!

[2020-07-24 19:10] #268 closed

[2020-07-24 19:11] sudevschiz commented on #390
@feast0101 This is great work, however the functionality to query by date is provided in the v4 endpoints. Please to feel free to maintain the ETL process and search engine if you or others find it useful for any of your work.

Closing this issue from the repo as there is no more action.

[2020-07-24 19:11] #390 closed

[2020-07-24 19:14] bee-rickey commented on #398
@MillikenDB1 A purposeful change. We've stopped aggregating data for Telangana since the govt does not provide enough district details. The raw_data files still have the details though.

[2020-07-24 19:15] sudevschiz commented on #247
Case count from raw data is not straightforward even now due to shifts in the way in which we used to capture the information. A bit more changes in raw data is required to make every moving part go in sync. Working on this!

Closing this issue.

[2020-07-24 19:15] #247 closed

[2020-07-24 19:19] JunaidBabu commented on #385
Sometimes data in sheets are updated for previous dates. This is the reason why older files are getting updated.

[2020-07-24 19:19] #385 closed

[2020-07-24 21:45] Manik-Jain commented on #247
Hi,

This is a bit weird that the PRs are being reviewed after two months of contribution.
I understand there may be some issues with the raw data, but this PR is basically aimed at solving those issues only.

Thanks
Manik Jain

[2020-07-26 20:38] tobymammen commented on #403
Thanks for your prompt reply.

On Sat, 25 Jul, 2020, 12:20 am Sudev, <notifications@github.com> wrote:

[2020-07-26 22:26] #403 closed

[2020-07-27 16:15] Abhishek-Srivastava opened #405 "Cumulative data is one day old with this API https://api.covid19india.org/data.json"
![image](https://user-images.githubusercontent.com/2565995/88565532-5e86a700-d052-11ea-9562-cb0739fe59c5.png)

However the website shows:
![image](https://user-images.githubusercontent.com/2565995/88565583-72320d80-d052-11ea-9526-e150b074e75c.png)

[2020-07-27 18:33] VinitSawant09 commented on #405
You ll have to loop through the state-wise attribute and get cumulative results

[2020-07-27 19:06] #405 closed

[2020-07-28 10:40] nitin065 opened #406 "Cannot select 27 july date"
Cannot select 27th July date. When selected fall back to today's data.

[2020-07-28 11:47] sudevschiz commented on #406
Where? Which endpoint?

[2020-07-29 00:52] nitin065 commented on #406
From UI page. At least from mobile.

[2020-07-29 17:10] vishalgodha opened #407 "Google sheet can't fetch District level data due to size limit"
https://api.covid19india.org/csv/latest/districts.csv

Google sheets can't fetch data with IMPORTDATA formula. Need to split CSV data.

Here is Error screenshot -
![Screenshot_20200729-223754_Sheets](https://user-images.githubusercontent.com/68960923/88830969-4fd3f780-d1ec-11ea-9ac3-e87e39621f57.jpg)

[2020-07-29 17:38] sudevschiz commented on #407
This time-series data is bound to grow. Right now we have no plans to split it into parts.
Instead of using `IMPORTDATA` function, there could be custom scripts that can handle larger input sizes. Could you please search for those?

[2020-07-29 17:39] sudevschiz commented on #406
![image](https://user-images.githubusercontent.com/4298868/88833838-e1a02c80-d20d-11ea-841d-696e9150b27e.png)
Looks perfectly fine at my end. Could you try again?

[2020-07-30 02:09] nitin065 commented on #406
Yes, someone might have fixed it.
Closing now!!

[2020-07-30 02:09] #406 closed

[2020-08-02 11:47] #407 closed

[2020-08-07 20:31] DnanaDev opened #411 "Exact time of update"
I'm creating a data pipeline with data from multiple sources. To keep the data consistent I plan to schedule the cron jobs to fetch data after each source updates.
I couldn't find the exact time of update for the following two sources from the documentation :

1. National Level :Time series, State-wise stats and Test counts (JSON) | https://api.covid19india.org/data.json
2. state_wise_daily (CSV)|

[2020-08-08 04:04] jatin-code777 opened #412 "Source code for website"
This repo does not seem to include the source code for the website [https://www.covid19india.org](https://www.covid19india.org
)

Can the source code be released and made available for contribution if required?

[2020-08-08 05:10] vasthav2k opened #413 "National data missing for August 7"
Hey @JunaidBabu National data in case time series in data.json for August 7 is missing.Please look into it.

Thank you

[2020-08-08 07:26] #412 closed

[2020-08-08 10:32] DnanaDev commented on #413
I had my project fail due to the same reason but it has been updated now. You can close this.

[2020-08-08 11:33] vasthav2k commented on #413
Thanks @DnanaDev

[2020-08-08 11:33] #413 closed

[2020-08-08 16:08] bee-rickey commented on #411
@DnanaDev I don't think it would be possible to get the exact update time of either of the two files. They get updated throughout the day and the only way to get that info would be to either add that timestamp in the file (not feasible) or to take it from the git repo.

[2020-08-08 16:41] DnanaDev commented on #411
@bee-rickey Okay, thanks for the info. Just to be clear I was looking the time the entry for the previous day is created. I've sometimes seen it get created 30mins after midnight, sometimes not even by 02:00 (like yesterday).
If that's not feasible feel free to close the issue. I'm currently testing the ingestion process at 5 in the morning.

[2020-08-08 17:31] sudevschiz commented on #411
@DnanaDev The cron job that adds the total cases for the previous day into those endpoints runs around 30 mins before midnight. However, yesterday, for some reason the trigger did not run. It was updated in the morning after we realized the same.

You can continue to expect the data to be updated around midnight.

[2020-08-08 17:55] DnanaDev commented on #411
@sudevschiz @bee-rickey Cool, thanks for helping out.

[2020-08-08 17:55] #411 closed

[2020-08-23 14:19] DnanaDev opened #416 "National Data Missing for 22nd August."
The data is missing for the following end-point for the 22nd August, 2020. I have an ETL Pipeline dependent on it that failed.

National Level :Time series, State-wise stats and Test counts | https://api.covid19india.org/data.json

[2020-08-24 10:23] #416 closed

[2020-09-03 19:33] axmb opened #418 "[FR] Consider adding an endpoint that directs to the latest patient-level JSON file"
I'm working on [a project](https://github.com/globaldothealth/list) that aggregates global patient-level COVID data. Your API is really fantastic -- certainly one of the best organized and documented out there.

It'd be even more useful to us if there were an endpoint at which the latest patient-level data were available. For instance, on August 22nd, this endpoint would automatically have changed

[2020-09-04 15:22] bee-rickey commented on #297
A detailed description is given here: https://blog.covid19india.org/2020/09/04/architecture/ Closing this issue.

[2020-09-04 15:22] #297 closed

[2020-09-04 15:25] bee-rickey commented on #418
We have the v4 endpoint which has all the data already available (aggregated per day though). So is there a real requirement for this at all? The way I see it, it's much easier to use the aggregated end points since most of the data being given out by the govt is aggregated. Individual raw files do not necessarily have better information than aggregated API endpoints.

[2020-09-08 13:31] axmb commented on #418
We're assembling data in part for epidemiological research, and having the per-patient ("line list") level data is critical. Otherwise, as you said, the aggregate end points would work.

With that context, WDYT about the feasibility of this?

[2020-09-12 01:29] saurabhmj opened #420 "Negative value for delta confirmed cases"
https://api.covid19india.org/v4/data-2020-08-15.json

The number of `delta confirmed` cases for `Mumbai` district in `MH` is negative

[code]
Is this an error?

[2020-09-19 12:54] yashshah1 opened #422 "Minify all JSON files"
I've seen `data-all.json`, `/v4/data.json` and `timeseries.json`, and all of them come back as un-minified json files, wouldn't it be better to return them as minified versions?

[2020-09-22 07:00] DnanaDev opened #423 "Data consistency Issue between website and API endpoint"
I've noticed that the following endpoint has missing data for Delhi on the 21st of Sept.

https://api.covid19india.org/csv/latest/state_wise_daily.csv

The data is available and visible on the tracker.

@sudevschiz Would be great if the CSV got updated.

[2020-09-22 11:30] shuklaayush commented on #422
The minified versions are present in `https://api.covid19india.org/v4/min/data-all.min.json` etc.

[2020-09-22 11:30] #422 closed

[2020-09-24 06:19] #423 closed

[2020-09-24 11:57] shuklaayush commented on #420
Probably not. It's how it was reported in the state bulletin
![image](https://user-images.githubusercontent.com/27727946/94141896-12f24d00-fe8b-11ea-8b4e-8ea682171551.png)

[2020-09-24 11:57] #420 closed

[2020-10-04 20:05] themonk911 opened #427 "Consider licensing by CC-BY (removing the ShareAlike SA clause)"
Thanks for the repo, we've been using your data source in our project https://github.com/GoogleCloudPlatform/covid-19-open-data. Unfortunately we've been requested to remove all data sources that have SA as part of the clause, since it is a viral clause like GPL. CC-BY (without the SA clause) would be much closer to the MIT license that you use for your code.

We would really like to continue usin

[2020-10-06 08:22] bee-rickey commented on #427
@themonk911 Hi there. We are having an internal discussion about this. Meanwhile, I wanted to know if you too would be dropping the SA clause from your project? The reason why we've kept it as CC-BY-SA is to avoid profiteering from the data. Having an SA clause forces the downstream to remain open.

[2020-10-06 13:20] owahltinez commented on #427
Hi @bee-rickey I'm working with @themonk911 on the project linked above.

We will be moving from CC BY CA to CC BY as soon as this issue is resolved. Because our output will be CC BY, that means we can no longer use any data source licensed as CC BY SA (or a similarly restrictive license).

Our reasoning for the license change is motivated by wanting to make the data useful to more people with les

[2020-10-06 15:45] maverick9122 opened #428 "Approximate Lat/Long storage in Patient's Data."
Current JSON Schema for Patient's Data
[code]
**Suggestion:**
Store aproximate lat/long of each patient, it will add up in below features.
Mapping patients count on exact locations of Map based on Lat/Long
Alarming User if he is entering in a zone having high number of Patients (Red Zone)
Find of no infected patients in a local area.

[2020-10-06 16:09] bee-rickey commented on #428
The data being released now is mostly aggregated at district level. With no area based information, lat-long adds little value since districts are geographically big and the lat-long for districts can be derived easily outside the api.

[2020-10-06 16:10] bee-rickey commented on #418
@axmb Sorry I had missed this response. As I said, there's little to zero per-patient data being released by the Indian government. So adding an additional logic to get the latest file makes no major value add. Most of what is released now is district level aggregated data.

[2020-10-06 16:12] bee-rickey commented on #427
@owahltinez @themonk911 We've updated the licensing for data to CC-BY-4.0.

[2020-10-06 16:36] themonk911 commented on #427
Thank you so much, this is very much appreciated :)

[2020-10-06 16:36] #427 closed

[2020-10-07 14:34] maverick9122 commented on #428
closing this issue,
as LAT and LONG can be calculated from Google's location API passing address as parameter.

[code]

[2020-10-07 14:34] #428 closed

[2020-10-10 02:15] sannila opened #430 "Status of Country"
Where to get the total confirmed status of India.

[2020-10-17 19:38] bee-rickey commented on #430
Can you be more specific? Do you want that in the API? If so, then look out for "TT" that's the country's total.

[2020-10-18 06:17] the-wrong-guy opened #431 "Data undefined in "state_test_data" ?"
The `testsperthousand` and `testpositivityrate` got undefined which was working yesterday

Please look at this issue asap

[2020-10-20 10:07] sky-megh commented on #431
We're facing the same issue! Is there a particular reason why these variables have been discontinued?

[2020-10-20 10:10] the-wrong-guy commented on #431
Well Idk, they have changed some their urls too I guess

[2020-10-20 21:05] #430 closed

[2020-10-21 12:28] sudevschiz commented on #431
@the-wrong-guy thanks for reporting the issue. Could you post the endpoint that you are using?

[2020-10-25 15:52] sanyam-git opened #433 "District wise data for some more states"
The website says that the state bulletin does not provide district wise data for Assam and Telangana. (same display as below for Telangana)
![assam](https://user-images.githubusercontent.com/43791665/97069011-82726e00-15ea-11eb-85d8-273e4c484fef.png)

The data can be found here :
* **Assam** : https://covid19.assam.gov.in/all-districts/. (official website by Government of Assam)
* **Telangana** :

[2020-10-25 15:54] sanyam-git commented on #433
moved from [here](https://github.com/covid19india/covid19india-react/issues/2379) as [suggested](https://github.com/covid19india/covid19india-react/issues/2379#issuecomment-715882706) by @shuklaayush. Tagging @bee-rickey and @sudevschiz.

[2020-10-25 18:38] danishali1511 opened #434 "Incorrect value for Date_YMD column in 'state_wise_daily' csv file 19-Oct-2020 onwards"
Hey Guys,

Just downloaded this .csv file 'state_wise_daily' from 'https://api.covid19india.org/csv/latest/state_wise_daily.csv' and noticed that date values for column **Date_YMD** are repeating 19-Oct-2020 onwards so thought of bringing into notice to you guys.
<img width="486" alt="image" src="https://user-images.githubusercontent.com/60676555/97115842-337a2500-171f-11eb-843a-a7b791e10386.png">

[2020-10-26 05:33] sudevschiz commented on #434
@danishali1511 Thanks for notifying the error. I have fixed the date_YMD column now. It happened due a missing formula in sheets.

[2020-10-26 05:33] #434 closed

[2020-10-26 05:37] sudevschiz commented on #431
@the-wrong-guy @sky-megh  These fields have not been updated for long. It's better if you calculate the testpositivity rate at your end from the cases and the tests conducted.

Also, you can get the state and district population that we are using from : https://api.covid19india.org/misc.json

[2020-10-26 06:52] the-wrong-guy commented on #431
Well I have little confusion on which particular end point the error is happening cause while in my app I am getting different data but again testing in Postman I am getting different set of data. So again I will check and let you know soon

[2020-11-03 14:09] bee-rickey commented on #433
@sanyam-git If I'm not wrong, that dashboard hasn't been updated in a very very long time. So can't really use that dashboard for any updates.

[2020-11-03 14:11] #418 closed

[2020-11-03 16:10] sanyam-git commented on #433
@bee-rickey  Thanks for the clarification for both the states.

[2020-11-05 15:56] #433 closed

[2020-11-14 22:42] jackiebrewster307 opened #440 "https://www.dropbox.com/s/ewkw63kbds6ue0i/SG_FRichards-Scholarship_App_writable.pdf?dl=0ĺ"
https://www.dropbox.com/s/ewkw63kbds6ue0i/SG_FRichards-Scholarship_App_writable.pdf?dl=0

[2020-11-23 16:28] greatunni opened #442 "Kerala data is wrong for Nov 23"
Kerala state level data is wrong. Today cases are 3757 but in the app its shown as 4508.Thiruvanthapuram today confirmed cases are 229 but shown in app as 980.Please correct the issue.

[2020-11-25 18:34] #440 closed

[2020-11-25 18:34] bee-rickey commented on #442
Has been corrected

[2020-11-25 18:34] #442 closed

[2020-12-03 03:37] kaiser101 opened #443 "Data incorrect"
Looking at the figures for Maharashtra yesterday i.e. 2 December 2020, the numbers dont add up
Overall Maharashtra new cases - 3350 (Almost all the major news sites confirm the number of new cases to be 5600)
However if you add up all the new cases for the individual districts, the number is much more than 3350. In fact it is close to 6000. So you need to check your sources again.
![covid19org](ht

[2020-12-03 13:16] bee-rickey commented on #443
We are in line with the bulletin. MH bulletin has backdated cases added yesterday.

[2020-12-03 13:16] #443 closed

[2020-12-09 13:18] yashshah1 opened #444 "Removing async from `task()`"
https://github.com/covid19india/api/blob/7c1f7f195a4519592c32f9a7b03638572b4ac218/lib/index.js#L23

in `lib/index.js`, the function `task()` is marked as async when it isn't actually asynchronous. You can choose to remove the `async` from the definition and `await` from all the subsequent calls, or convert it to an async function by using the `async` versions of the file i/o functions

[2021-01-01 10:39] muthuannamalai12 opened #446 "Create Code of Conduct.md"
Hi,
I found that this project repository is not having a code of conduct file in this repository, kindly assign me this issue and I would like to contribute a well-formatted code of conduct file as you know code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-01-01 10:39] muthuannamalai12 commented on #446
I would love to work on it as a part of DWOC. Kindly assign it to me

[2021-01-22 12:30] jishnub opened #449 "Incorrect update date for Rajasthan in state test data"
In [state test data](https://api.covid19india.org/state_test_data.json) entry 7608 has an `updateon` value of "07/02/2021", this should actually be "07/01/2021" as in the link.

[2021-01-22 12:38] sudevschiz commented on #449
Thanks for reporting the error. I have fixed it!

[2021-01-22 12:43] jishnub opened #450 "Incorrect update date for Ladakh in states test data"
In state test data, entry 4892 and 4893 for Ladakh point to the same facebook link as their source, but have different update dates (4892 has 22/1/2021 while 4893 has 24/1/2021). The update in the link is however on 08/10/2020. Should this date be the value of `updateon`?

[2021-01-22 12:50] sudevschiz commented on #450
Thanks for reporting. The link in source3 was incorrect.
It's better to use source1 as that's the most relevant source.

[2021-01-22 12:52] sudevschiz commented on #446
Currently collaboration efforts are frozen and only minor maintenance updates are done.

So, this is not required right now. Thank you for reaching out!

[2021-01-22 12:52] #446 closed

[2021-01-22 12:53] #431 closed

[2021-01-22 12:53] #450 closed

[2021-01-22 12:54] #449 closed

[2021-01-27 06:38] Rounik10 opened #451 "Add data for Vaccination"
Now that vaccination has started, data for that is much appreciated!

[2021-01-29 16:36] jishnub opened #452 "updateon dates in the future"
There are several "updateon" flags in [state_test_data.json](https://api.covid19india.org/state_test_data.json) that are in the future. The indices are

[code]

[2021-01-31 15:41] ShikariShambuJr commented on #451
Yup we have included the same in our API.Work on website is ongoing. Have a look for API ere - https://twitter.com/covid19indiaorg/status/1355558760354205696

[2021-02-01 06:09] bee-rickey commented on #452
Can you verify what the values for these are? These might be empty rows that are added

[2021-02-01 08:55] jishnub commented on #452
This seems resolved now

[2021-02-01 08:55] #452 closed

[2021-02-01 17:51] Rounik10 commented on #451
Great!!

[2021-02-01 17:51] #451 closed

[2021-02-05 02:18] amritb opened #456 "West Bengal data stopped updating after 1st Feb"
Hi,

Is there a new version for data-all.json ? I was using https://api.covid19india.org/v4/data-all.json but from 1st of Feb it's not being updated. The source have new data though https://www.wbhealth.gov.in/pages/corona/bulletin

Is there a new API for this? Or the google spreadsheet (I couldn't find/view it) is not updated anymore for WB ? Let me know if I can personally update the sheets for

[2021-02-05 08:10] shuklaayush commented on #456
Hey @amritb, we ran into some space issues with GitHub and `v4/data-all.json`. Hence, we deprecated the unminified version. Please use https://api.covid19india.org/v4/min/data-all.min.json. It's the same file, just smaller.

[2021-02-05 08:10] #456 closed

[2021-03-03 01:26] silvergravel opened #458 "state_daily.json api does not work"
the endpoint : https://api.covid19india.org/state_daily.json returns a 404

[2021-03-13 18:21] JunaidBabu commented on #458
it's https://api.covid19india.org/states_daily.json

[2021-03-25 15:21] shyam2520 opened #460 "icmr_testing_details not updated"
the total positive sample column has been null for 80% of the dates , would you be able to fix it ?

[2021-03-27 11:34] ShikariShambuJr commented on #460
HI which sheet and column are you referring to?

[2021-03-27 11:50] shyam2520 commented on #460
tested_numbers_icmr_data : https://api.covid19india.org/csv/latest/tested_numbers_icmr_data.csv

statewise_tested_numbers_data : https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv

in both these files total positive samples data columns has a lot of empty data

[2021-04-09 10:50] a-baheti opened #462 "District data is too large to import into Google Sheets"
Using the function _=IMPORTDATA("https://api.covid19india.org/csv/latest/districts.csv")_ gives the following error: **_Resource at URL contents exceeded maximum size_**, because the data has too many rows.

Can this data be put in a wide format, similar to State Wise Daily (_https://api.covid19india.org/csv/latest/state_wise_daily.csv_) data? If every district were a column, it would be possible

[2021-04-11 05:03] sudevschiz commented on #462
Hi,
Wide format was found to be impractical as the are 700+ districts. Since the format has been established, it would be problematic to change it now as it might break some other applications.

There are custom Google Scripts available to import large data to Google Sheets. Otherwise, consider downloading the csv and imorting it.

Thank you.

[2021-04-11 05:11] sudevschiz commented on #460
Hi @shyam2520,
In the early days, ICMR used to publish the total positive cases in their daily bulletin. However, they stopped providing that data point after a few weeks.

That's the reason for this column to be null.
Please refer to the other api endpoints for this data point.

[2021-04-11 05:11] #458 closed

[2021-04-11 05:22] shyam2520 commented on #460
okay thank you

[2021-04-11 05:22] #460 closed

[2021-04-20 15:44] Aakashmangla2000 opened #465 "How to use these links as json?"
http://api.covid19india.org/csv/latest/vaccine_doses_statewise.csv
http://api.covid19india.org/csv/latest/cowin_vaccine_data_statewise.csv

How do I use these links in my website as i have previously used "https://api.covid19india.org/data.json" which easily gives me json data, how can I get same links for this csv data in json format?

[2021-04-25 08:44] shreyanshxyz commented on #465
I want to know this as well! Following

[2021-04-25 09:34] harsshjain commented on #465
Check this out! https://api.covid19india.org/documentation

[2021-04-27 03:38] gouenji-shuuya opened #466 "Will the vaccinated CSV format change again?"
The `vaccine_doses_administered_statewise` changed yesterday.

I want to know would it change again in the coming future? Because I would need to do changes to my program when they happen.

Also, why are the stats one day late nowadays on the API, but not on the website?

[2021-04-27 04:26] ShikariShambuJr commented on #466
Hi the changes were made to accommodate the new data i.e the breakup of doses statewise and reflect the same on website in coming days.We would try our best not to change it again.

Regarding the date the data released on 27th April'21 is for 26th April'21.

If you have any more things to ask please message here.

[2021-04-28 05:50] Mchockalingam opened #467 "Data Authenticity"
Can you please let me know whether the source data is authentic data released by the government. I work for a renowned NGO and our reports are viewed more. So planning for a publishing report.

[2021-04-29 20:57] rchadha96 opened #469 "Data does not match"
When I compare the data on the website and then with the same date after downloading the csv, the figures do not match.

For example, on 26-04-21, India the total doses administered is 142,524,947 (from the csv). While the same on the website is:

![image](https://user-images.githubusercontent.com/66981668/116617339-a4500300-a935-11eb-9a5c-2b8983035665.png)

Please let me know if I am looking at t

[2021-05-01 16:21] nilesh-singh opened #470 "Value for number of tests not updated"
In the "Districts.csv" file, downloaded from "https://api.covid19india.org/csv/latest/districts.csv", the number of tests for Mumbai is not updated since 29th Jan, 2021 and the number is stuck at "2789713". Where can we find the updated file?

[2021-05-02 15:06] bee-rickey commented on #467
@Mchockalingam We refer to state govt bulletins for number of tests and cases details. For state level vaccination, we refer to cowin api. For nation level tests/vaccination, we refer to mohfw bulletins.

[2021-05-02 15:06] #467 closed

[2021-05-02 15:07] #462 closed

[2021-05-04 16:47] swarooprooney commented on #465
https://api.covid19india.org/states_daily.json

[2021-05-05 19:39] gouenji-shuuya commented on #469
Yeah its been a problem for quite some time now.

I guess the cowin sheet has updated data.

[2021-05-05 19:39] #466 closed

[2021-05-06 21:36] samewal opened #471 "Population data in state and district api"
Currently state and district API only include confirm, active, recovered and deceased numbers. Can you add population as well.

[2021-05-07 05:46] ShikariShambuJr commented on #471
https://api.covid19india.org/misc.json

[2021-05-07 05:47] ShikariShambuJr commented on #470
Hi we have discontinued District Wise Testing

[2021-05-08 10:04] NDBaxi opened #472 "Api Data does not match Dashboard"
I want to use the data in csv files from following api
[https://api.covid19india.org/csv/latest/case_time_series.csv](url)
[https://api.covid19india.org/csv/latest/districts.csv](url)
For data provenance, I ran a simple sum() of columns in the above CSV files to compare against the covid19india.org App.
This is what I am getting:
Total Confirmed = 2,666,894,500
Total Deceased = 38,032,319
Above nu

[2021-05-08 10:10] bee-rickey commented on #472
Are you adding daily confirmed or total confirmed? Looks like you are adding total confirmed and that's leading to sum over cumulative numbers.

[2021-05-08 17:58] rchadha96 commented on #469
Also, some of the daily vaccine doses administered when calculated from cumulative doses come out to be negative, what to do in this case?

[2021-05-09 04:53] NDBaxi commented on #472
Ah, ok. Thanks for that clarification, which brings me to couple of new questions. Appreciate if you could clarify them too.
So I need to either sum over 'Daily' numbers or take difference over 'Total' numbers. Is that what it would entail?
I am more interested in data at a more granular level provided for the 'districts.csv' in the link [https://api.covid19india.org/csv/latest/districts.csv](url)

[2021-05-09 07:45] siddhpant opened #473 "Mismatch between MoHFW numbers and the vaccination CSV data"
For today, MoHFW on it's website shows the following:

![image](https://user-images.githubusercontent.com/25429745/117564121-0f34d300-b0c8-11eb-9902-2b66a1f2c432.png)

Meanwhile, the values in the last two columns (8th May and 7th May) in the CSV for `Total` row are `169439663` and `167346544` respectively, ***whose difference comes out to be `2093119`***. The CSV is http://api.covid19india.org/cs

[2021-05-11 09:02] samewal opened #474 "Better format for JSon"
I think json format should look like below:

[{
 "StateCode" : <StateCode>
  "delta": {
   "confirmed": <deltaConfirmedForState>",
   "deceased": <deltaDeceasedForState>",
   "recovered": <deltaRecoveredForState>",
   "vaccinated": <deltaVaccinatedForState>"
  },
  "delta7":{
     "confirmed": <7DmaConfirmedForState>",
     "deceased": <7DmaDeceasedForState>",
     "recovered": <7DmaRecoveredForSt

[2021-05-14 08:58] ShikariShambuJr commented on #473
1) We only capture the total number of doses administered and the numbers are correct. You can verify that from the sources.We have mentioned the source along with the numbers everyday.
2)The CoWin sheet is a different sheet with a different source(dashboard.cowin.gov.in),cutoff and reporting times etc.

[2021-05-14 15:22] #471 closed

[2021-05-14 15:23] samewal commented on #471
JSOn api is better. I can get all info in single message.

[2021-05-14 22:32] AkhilK28 opened #475 "Adding District-level Testing from the MoHFW Excel File"
Dear COVID-19 API,

First off, thank you for providing this excellent database for COVID-19 data for India. Recently the Ministry of Health and Family Welfare started releasing weekly district-level testing data on their website: https://www.mohfw.gov.in/.

The direct download of this file is here: https://www.mohfw.gov.in/pdf/10percentDistrictWiseCOVID19Positivity14thMay.xlsx

Our research team a

[2021-05-15 09:04] samewal opened #476 "Time series API"
Time series API should take date as parameter. Currently it returns data from 36 mar 2020 onwards which is huge.

[2021-05-15 11:35] vivekanandanareddula opened #477 "Delta is not available for AP districts"
Daily updates were missing from AP districts, Please check and update.

Thanks a lot for developing this API.

[2021-05-16 20:30] bee-rickey commented on #476
Hi we do not plan to implement anything as such as of now. Please consider doing it yourself in you do need it date specific.

[2021-05-16 20:30] #476 closed

[2021-05-16 20:31] bee-rickey commented on #474
Hi we do not plan to change the format now since this has been in use for over 6 months now.

[2021-05-16 20:31] #474 closed

[2021-05-18 03:44] aatishb commented on #475
Hi, I am parsing & archiving the district-level data in a separate repository: https://github.com/aatishb/indiatestpositivitydata

I'm curious, how are you reverse-engineering the tests from the test positivity data? That doesn't seem possible to do uniquely (i.e. you can work it out up to an unknown factor). Unless I'm missing something?

[2021-05-18 06:28] katochayush opened #478 "How will we use to see particular state"
how to use this api to see a perticular districts only

[2021-05-18 09:12] ShikariShambuJr commented on #469
Is this resolved or the issue still persists?

[2021-05-18 09:30] #473 closed

[2021-05-18 09:31] #470 closed

[2021-05-18 19:27] aatishb opened #479 "Test Positivity Date is Incorrectly Calculated"
Hi,

Thanks for making this amazing resource available and for your hard work maintaining it!

I believe there might be an issue with the way the test positivity rate (percentage of tests that are positive) is calculated on the site. I ran some code (pasted below) to calculate the test positivity rate from your data using the simple method of `test positivity rate = confirmed cases in past week /